[2017-11-17 13:13] zillionn commented on #403
I found out what is happening. When the innerHeight is up to 975px the scroll is visible but when I resize it to >975px it disappears.

[2017-11-17 13:24] rdk1979 commented on #403
i don't touch anything... it's not the scrollbar that disappears. The transactions disappear. You can see that on my shots, the white at the "bugged" shot. I don't touch the scrollbar at all, i only click the ARK address. And of course... the scrollbar disappears too because there aren't enough transactions anymore to fill up even one screen, so no reason to have a scroll.

[2017-11-17 13:24] zillionn commented on #403
The problem occurs because when you click the address from the dashboard it loads 20 txs, but when you click on the address in My Accounts menu it loads only 10.

[2017-11-17 13:28] rdk1979 commented on #403
I have more than 20 tx at first, about 50... and saying only 10 txs load when you click the address on the left makes no sense to me also. Than it would matter which resolution... than it would just load 10 txs by design no matter what screensize or resolution.

[2017-11-17 13:31] zillionn commented on #403
I see. Then it's probably something with this infinite scroll.

[2017-11-17 14:53] #391 closed

[2017-11-17 14:53] #398 closed

[2017-11-17 15:05] j-a-m-l commented on #356
I think that we could have both options, similar to some e-commerce sites:
Initially we could display `n` items per page, but show an option "Show all", that would use the infinite scroll behaviour.

[2017-11-19 00:48] rdk1979 commented on #403
This issue is also not fixed in wallet-update 1.4.2, the behaviour is still exactly the same. In macOS 13.1 as well as on Windows 10 Fall Creators Edition.

[2017-11-19 00:53] boldninja commented on #403
@rdk1979 Yeah cause they are still working on a solution will be included in the next release when its coded and tested.

[2017-11-19 00:54] rdk1979 commented on #403
@boldninja Thanks! Yes... it was expected, but Alex wanted to be sure. And I promised to test it and give feedback about it. So this wasn't related to the infinitescroll-bug.

[2017-11-19 01:18] rdk1979 opened #415 "ARK-client 1.4.2 Account balance not updated on main-screen. (macOS. 13.1)"
A tiny minor bug:
after installing 1.4.2 and starting it for the first time it showed the previous account-balance. (I did a transaction while 1.4.1 was running last time, but that amount was still included on the balance.)

After restarting the ARK-client it updated and showed the right account-balance on the main-screen.

edit on November 20:
- This happens on Windows 10 and macOS 13.1.
- This h

[2017-11-19 01:24] boldninja commented on #415
Did you click on refresh balances to update the list?

![refreshb](https://user-images.githubusercontent.com/25795454/32986374-936f14e4-ccd0-11e7-9fa9-69ad345585f3.png)

On specific account you also have this (if you have manually refresh enabled in settings):

![refreshaccount](https://user-images.githubusercontent.com/25795454/32986379-b7b431e0-ccd0-11e7-8944-bffd02ff6c98.png)

[2017-11-19 12:26] mycameratravels opened #417 "Idea's upcoming wallet release?"
I love the option to put in your own background image. Great job!
Would it be possible to create a slideshow of background images if you point it to a directory with images?

And to make some images stand out better, it would be great if we could adjust the opacity of the information boxes.

Best regards,
M.

[2017-11-19 14:36] rdk1979 commented on #415
@boldninja thanks, but the "problem" is on the -main- screen... you're in the account already on your screenshot. But... on the main screen there's a refresh too, I know. Ok, than it's not a bug, then it's a tiny design flaw I'd say. The refresh procedure or function should be called right after the program starts I'd say, then the account balance is always up to date. But I don't know... there co

[2017-11-19 14:44] boldninja commented on #415
@alexbarnsley can you confirm if once you start client and get network connection balances are refreshed? Might be good to add if not yet.
When 1st connection to ARK network = success, call refresh function (only 1 time once it starts).

[2017-11-19 17:33] Ghosthree3 commented on #203
It would be handy if the password could encrypt the passphrase/private key as well so that it could be used to confirm transactions instead of having to fetch the 12 words every time. Wallets in all the other currencies I've checked out so far have always had this as a feature, the seed is encrypted in the wallet so a more user friendly password can be used instead.

If this is somehow a security

[2017-11-19 20:41] alexbarnsley commented on #203
A part of me feels that Ledger already caters for everything in this issue now (including what you mentioned @Ghosthree3) - Hidden addresses, no need to remember the passphrase (signing transactions with the ledger), secure, etc. That being said, it's still possible to implement and seems to be requested by a few people, so won't rule this out completely.

On a slightly separate note @Ghosthree3,

[2017-11-20 07:07] rdk1979 commented on #415
@alexbarnsley i can confirm this a bit more now. Each time you start the ARK-client it shows the balance from the last time the ARK-client was run.

I can confirm this to be the case on macOS 13.1, but also Windows 10.

[2017-11-20 10:06] alexbarnsley commented on #415
I can confirm it doesn't refresh all accounts on network connection. There is a setting "Settings" > "Refresh accounts automatically?" which runs every 8 seconds by the looks of it, to refresh the current account. However, this is turned off by default.

I will add the functionality to refresh all accounts on network connection 👌

[2017-11-20 23:05] alexbarnsley opened #421 "Incorporate Unit Tests across all essential systems"
To ensure new issues aren't caused with current systems, it's good we get a core set of tests to give us peace of mind going forward. Based on that, I've tried to consolidate a list of tests that I think should be required (some may already exist):

- [ ] Create Transaction
- [ ] Vote
- [ ] Unvote
- [ ] Change Network (mainnet -> devnet, etc)
- [ ] Add Contact
- [ ] Rename Contact
- [ ] Delete Con

[2017-11-20 23:14] bradyo opened #422 "Un-voting broken in 1.4.2"
If you try to un-vote a delegate, it doesn't show the `-delgate` in the transaction confirmation, and submitting the transaction fails to update vote.

I rolled back to 1.4.1 and was able to un-vote correctly.

[2017-11-20 23:16] boldninja commented on #422
Thanks @bradyo, fix was already coded by one of our devs ( #420 ) and hot fix will be released soon

[2017-11-20 23:16] bradyo commented on #422
Ah thanks @boldninja. I'll close out this ticket

[2017-11-20 23:16] #422 closed

[2017-11-20 23:36] alexbarnsley opened #423 "Intermittent Overlap issue"
![image](https://user-images.githubusercontent.com/8069294/33046996-679cf940-ce4b-11e7-8e02-d5a4e09a2166.png)

All tabs seem to overlap each other on first launch. It doesn't always happen. The temporary fix is to click on each tab (Transactions, Votes, etc) - restarting should also work

[2017-11-21 02:31] ehrlichja opened #424 "CPU out of control"
On Ark Client 1.4.2, two of my CPU cores are monopolized by the ArkClient Helper process, even
with the wallet application not running.

OSX 10.12.6

![screen shot 2017-11-20 at 6 29 57 pm](https://user-images.githubusercontent.com/481499/33051872-e5df1bb0-ce20-11e7-8466-32ef4b61ed94.png)

Is it mining Vertcoin? ;)

[2017-11-21 08:53] fix commented on #424
do you use ledger nano s?

[2017-11-21 08:55] boldninja commented on #424
This was supposed to be solved in #357  (which is already merged in 1.4.2) :thinking:

[2017-11-21 09:04] alexbarnsley commented on #424
I can give it a whirl! Could they be leftover processes from the previous version of the client? When did you last restart your machine?

[2017-11-21 09:06] boldninja commented on #424
I was thinking that as well, that they might have been rogue processes from 1.4.1.
@ehrlichja can you restart your computer and try to reproduce this?

[2017-11-21 11:53] #403 closed

[2017-11-21 13:32] j-a-m-l commented on #423
Uhmm, @alexbarnsley I can't reproduce it

[2017-11-21 15:44] alexbarnsley commented on #423
@j-a-m-l yeh it doesn't happen often. Only happened once for @boldninja (that's his screenshot of devnet above)

Not urgent I don't think, because it's so intermittent (that no one has reported it). It may be a Windows thing too?

[2017-11-21 15:44] j-a-m-l commented on #367
@goatsnake are you experienced this issue with the last version?

[2017-11-22 11:56] rdk1979 commented on #415
@alexbarnsley  is this in the 1.4.3 already? i'll check and confirm it...

[2017-11-22 11:56] boldninja commented on #415
@rdk1979 Yes

[2017-11-22 13:40] rdk1979 commented on #415
Confirmed... works perfectly now! Nice little improvement.

Thanks @alexbarnsley @boldninja

[2017-11-22 13:41] #415 closed

[2017-11-22 13:43] rdk1979 commented on #403
Confirmed... bug is gone in ARK-client 1.4.3 on macOS 13.1 as well as Windows 10 (FC update).

[2017-11-22 17:21] alexbarnsley opened #429 "More comprehensive Passphrase confirmation"
Just a possibility, when you create 1st or 2nd passphrase you should be required to manually write the whole 12 words (no copy and paste), so if you do write it on a piece of paper you will have that copy in front of you. If you then want to copy/paste it you'll have to type it in manually to make sure you have it somewhere at least to write from if you close the client and don't save.

If anyone

[2017-11-22 18:04] j-a-m-l commented on #429
I think in a similar manner; it's the best way to avoid typos.

[2017-11-22 19:02] Jarunik commented on #429
Please add an option somewhere to disable copy/paste protection to allow it for advanced users.  This 3 words confirmation thing is also super annoying if you need to create 10 wallets.

[2017-11-22 20:11] Joseph-Tortorelli opened #431 ""Passphrase" should be replaced with a different phrase such as "Mnemonic Phrase""
I commonly see people who are confused by what their passphrase is as they do not remember inputting a passphrase as I was when I first saw it after a while after I made my address.

I ended up just inputting random passwords that I thought I had used.

Replacing "Passphrase" with "Mnemonic Phrase" would make it much more easy to understand, especially if it has been awhile since you accessed the

[2017-11-23 00:40] Joseph-Tortorelli opened #432 "No ability to Sign/Verify Message with Ledger Nano S"
Is there a reason why I cannot Sign/Verify Messages with my Ledger Nano S address?

[2017-11-23 06:37] CryptoMooners opened #433 "Ark Desktop Client Archlinux AUR package is outdated"
As you can see in [this link](https://aur.archlinux.org/packages/ark-desktop/), the version in the AUR repository is 1.2.2.

Since the files used for making the package aren't part of this repository I'am not able to submit a pull request

I modified and fixed (since it contained a little bug) the PKGBUILD so I could update my system. Here is the patch:

[code]

[2017-11-23 13:50] Ghosthree3 commented on #433
I did the same thing, though I had to also modify .SRCINFO with the new version number and hash. I missed the pkgdir typo though, thanks for that.

[2017-11-25 23:07] ehrlichja commented on #424
I restarted and am running the wallet again, so far I don't see it.

[2017-11-25 23:07] #424 closed

[2017-11-28 09:36] sleepdefic1t commented on #423
It has a lot to do with the way views and layers are drawn vs your given monitor and resolution.

Play with your resolution and the size of the window and you should be able to reproduce overlapping elements.

Apple uses Stack Views to make this easier, not sure w/Electron.
AFAIK, it SHOULD be recalculable to limit the given frames' width/height to X% >= frame-content.

It's such a small bug,
it's

[2017-11-28 11:05] sleepdefic1t commented on #180
@Jarunik @fix @fileninja @zillionn

If you think of ArkClient as a backend in this scenario,
it can basically become an RPC client.

Or even a simple App URI could open a transaction request.
`arkclient://transaction/create?recipientId=AxX...Xx&amount=100000000&vendorField=......`

I have a friend learning and trying to do a "pay with Ark" button for websites;
he was trying to figure out how to ha

[2017-12-01 03:43] hatgit commented on #367
After days of my computer running oddly slow, I realized that ARK processes were running in the background even after I had quit the app. I have since just ended those processes (forced quit) and it resolved itself. I haven't run the app since, waiting for some update/bug fix.

[2017-12-01 03:44] JESUSANSWERS777 commented on #367
Why am I getting this email am I possibly getting arc services ?

On Thu, Nov 30, 2017 at 10:43 PM Steven Hatzakis <notifications@github.com>
wrote:

--
I AM SUPERMAN JESUS CHRIST

[2017-12-01 03:49] hatgit commented on #367
@JESUSANSWERS777 when you "watch" a repo there is an option automatically receive email updates to thread comments, these are sent via Github, not by us commenters. You should be able to disable them or filter them into folders/etc.. Hope that helps.

[2017-12-01 10:38] alexbarnsley commented on #367
@hatgit the duplicate processes should be resolved with the recent update (1.4.3). There were instances where they can still be running from a previous version, so let us know if the processes start to re-appear in the background after closing the app, once you've updated to the most recent version (which I can see you've just done)

[2017-12-01 13:52] luciorubeens commented on #433
Hey guys, sorry for my late reply. I updated today for 1.4.3, thanks!

[2017-12-01 13:52] #433 closed

[2017-12-04 18:43] #359 closed

[2017-12-04 21:57] n-body opened #437 "Icons aren't displaying"
https://i.imgur.com/1LWsLZp.png
https://i.imgur.com/eLC9YQN.png
Using Arch with i3wm, also tried using Cinnamon but still had the same issue.
This occurs with the AUR build as well as the most recent Github release build.
The text overlaps everywhere, making it hard to read anything.
Any ideas?

[2017-12-05 15:32] Bluffet opened #439 "Screen capture protection not working"
Yo!

I just toyed around and noticed that even if the screencapture protection is enabled, the wallet shows. It might be that my OS is old. I'm running MacOS 10.9.5

[2017-12-05 15:58] stechico opened #440 "Voting for Delegates, app stalls after "Sign with Ledger""
* OS X Client 1.4.3 w/ latest Ledger Nano S
* Occurred multiple times

[2017-12-05 18:28] slydamus opened #441 "Label doesn't work in Ubuntu wallet 1.4.3"
Label in newest wallet doesn't work. (tested on ubuntu)
When renaming the account in wallet 1.4.3, after wallet restart it still showing label with an address as a name.
Also, when u create new accounts in wallet, it disappear from the list after the wallet restart.

[2017-12-07 09:25] j-a-m-l commented on #404
This has been already accomplished

[2017-12-07 09:25] #404 closed

[2017-12-07 09:26] j-a-m-l commented on #364
Please, @nlpthk could you confirm that this problem is fixed on the last version?

[2017-12-07 09:32] j-a-m-l commented on #249
@SBero are you still having problems?

[2017-12-07 09:36] j-a-m-l commented on #431
Probably rewording it to something like "mnemonic passphrase" would be a good idea. Maybe even "generated mnemonic passphrase" would be a better, non-ambiguous name.

@boldninja what do you think?

[2017-12-07 09:53] j-a-m-l commented on #189
It looks that this issue could be closed. @virgolus if you think that is still a problem, re-open it.

[2017-12-07 09:53] #189 closed

[2017-12-08 18:05] nlpthk commented on #364
Yup! Haven't experienced the problem with 1.4.3:)

[2017-12-08 20:50] #364 closed

[2017-12-09 00:06] jessicareyani opened #444 ""Error: ENOENT" - Wallet doesn't always launch, and when it does the following error message appears:"
![error](https://user-images.githubusercontent.com/34385861/33790019-c50208be-dc74-11e7-8c9c-3ee712630cf3.PNG)

[2017-12-09 07:18] ujjwalwahi commented on #431
Or "Passphrase(12 words generated mnemonic passphrase)". I think it'll be better to be more explicit if users are finding it bit confusing.

[2017-12-09 16:55] j-a-m-l commented on #384
@0toierance could you give us additional feedback? have you tried to re-install it?

[2017-12-09 21:18] wisefox3599 opened #447 "The mouse starts sporadically glitching and clicking while the program is opened"
![image](https://user-images.githubusercontent.com/28910729/33799577-cf605c1a-dd2e-11e7-86ab-2c01c105ccf2.png)

[2017-12-11 06:12] wayjayth opened #449 "Sent Ark to my public key"
Hi, I wonder what happens when you send Ark to your public key.
I have accidentally sent Ark from my exchange to my public key on my desktop wallet.
Could I potentially lose my Ark?
Thank you!

[2017-12-11 08:31] cannabanana opened #450 "Add Option to change MM/DD/YY to other variation (DD/MM/YY)"
Possible? Doable? Please?

Add Option to change MM/DD/YY to other variation (DD/MM/YY) please, make it so.

[2017-12-11 10:37] alexbarnsley commented on #449
Hi @wayjayth

This is actually an unknown. I just tried making a transaction to a public key on devnet using the CLI and the desktop client and they both failed. I think best case, speak to the exchange as the network probably rejected the transaction. It will be in their court I think, on whether they can recover the ARK.

Have you checked their provided transaction ID in an explorer?

Thanks

[2017-12-11 10:40] fix commented on #449
the tx is rejected from the blockchain, the funds are not lost

[2017-12-11 10:41] alexbarnsley commented on #449
Thanks for confirmation @fix, that's what i suspected 👍

[2017-12-11 17:46] #449 closed

[2017-12-11 17:47] j-a-m-l commented on #450
Related to https://github.com/ArkEcosystem/ark-desktop/issues/392

[2017-12-11 17:57] j-a-m-l commented on #447
Could you give us more info, please?

[2017-12-11 17:58] j-a-m-l commented on #437
Weird... I don't have any problems with i3wm. Are those problems on full-screen too?

[2017-12-11 22:08] wayjayth commented on #449
Thanks a lot Alex and Francois-Xavier for the help! Appreciate it.

On Tue, Dec 12, 2017 at 4:46 AM, Juan <notifications@github.com> wrote:

[2017-12-11 22:10] alexbarnsley commented on #449
No worries! Did the exchange reply back to you @wayjayth?

[2017-12-11 22:39] wayjayth commented on #449
Thank you. I haven't actually checked with them yet but I will. Hope it
works out.

On Tue, Dec 12, 2017 at 9:10 AM, Alex Barnsley <notifications@github.com>
wrote:

[2017-12-12 02:23] fluorine commented on #450
Could we use the OS' culture?

[2017-12-12 08:22] Jarunik opened #453 "Hardcoded Wallet Fees"
Currently the desktop client applies hardcoded fees.

The desktop client should fetch the fees from the network and apply the correct network fees.

An example where it leads to problems is if you add the blockpool network to the current desktop client. Blockpool lowered their fee constant for delegate registration in their network. The desktop client does not respect these network parameters and

[2017-12-12 14:35] alexbarnsley opened #454 "QR Scanner doesn't work for Address field when sending"
You can scan the QR code, it acknowledges it has scanned and closes but it doesn't populate the "Address" field with the scanned address.

[2017-12-13 06:12] fluorine commented on #450
I'm almost done with this. I've added the option to the menu (it's pushed in my fork), but I need to implement the usage of the date before a pull request. I cannot see the date in the table without any transaction, and I'm new on this.

How can I get test coins to check the date in the table? I generated this account, with this test address DK5TBbiCokyvFNspWDRx6w5bZrgHywyCB3, can someone send me

[2017-12-13 19:29] wisefox3599 commented on #447
What are you specifically interested in?
The mouse keep randomly moving around the screen and randomly left and
right clicking while the program is running. As soon as i close the
program, everything is back fine again. Im using x64 Windows 10
professional

On 11 Dec 2017 18:57, "Juan" <notifications@github.com> wrote:

[2017-12-13 20:09] ThomGru opened #457 "unexpected behavior in transaction listView"
First of all: Thanks for that great wallet 👍

But I detected a small unexpected and irritating behavior with the transaction listView.
As I wanted to scroll through my older transactions step by step, the list jumped back to the starting position which is not nice from user experience point of view.

**Platform/Environment**

- macOS High Sierra v. 10.13.1
- ARK Client 1.4.3 Desktop Wallet

**Step

[2017-12-13 20:34] ckhatri commented on #450
You could use to generate a dark wallet w/ 50 ark.
https://kristjank.github.io/dark-paperwallet/

[2017-12-14 15:01] GeorgeCrev opened #460 "transactions disappear and ark disappears"
my ark isnt showing up in my wallet sometimes and sometimes the transactions disappear as well.  then if i restart it shows up.  right when i tried to vote for a delegate it disappeared.

please help.

[2017-12-14 17:21] sleepdefic1t commented on #460
@GeorgeCrev
Hello, What operating system are you using?

[2017-12-14 17:23] GeorgeCrev commented on #460
Windows 7 professional

George Creviston        [magidglove.com]  <magidglove.com>
Regional Vice President of Business Development

MAGID | Safety at work™
1300 Naperville Rd. | Romeoville, IL 60446
773-289-1439
Cell: 815-708-4928 | Fax: 773-289-9439
GeorgeCreviston@magidglove.com
magidglove.com<http://magidglove.com>

[cid:banner_548d4262-9c81-428c-98e8-517df5ea4f7f.jpg]<https://www.magidglove.co

[2017-12-16 10:19] ageorge9625 commented on #334
I have a MAC my wallet cloud is red, no firewall setted.
What should I do?

[2017-12-17 00:46] Joseph-Tortorelli commented on #440
Weird.  For me, I was able to vote on my ledger.  I am on Windows though so it may be OS X specific.

[2017-12-17 00:47] Joseph-Tortorelli commented on #439
Gyazo is blocked.  I know that.

What program are you using to screen capture or is it built in?

[2017-12-17 06:22] stechico commented on #440
Thanks @Joseph-Tortorelli Let's see if more people may reproduce it on their OS X to confirm.

[2017-12-17 19:36] doktor27 opened #465 "Transfer from bittrex to Ark wallet"
Hi,

I bought ark at Bittrex and today I downloaded the Ark client.
I made a test transfer from Bittrex to Ark Wallet, It wask ok.
Then I sent rest of my ark coins to my wallet and I didnt see it in my wallet.
Can you help me?

[2017-12-17 19:40] boldninja commented on #465
Hi,
did you check if your TXID from withdrawal request is present on ARK blockchain ( https://explorer.ark.io ) ? Did you confirm email from Bittrex for withdrawal?
Else you should contact Bittrex support - https://support.bittrex.com/hc/en-us/requests/new .

[2017-12-17 20:11] doktor27 commented on #465
Hi,
Thanks for your reply.
I just checked it, I found there only test transfer.
I am using 2FA, so I confirmed withtrawal by my code.
Do you think it is possible to my ark coins back?

[2017-12-17 20:12] boldninja commented on #465
Of course, just contact Bittrex support and they'll rebroadcast your transaction.

[2017-12-17 20:12] #465 closed

[2017-12-18 01:06] n-body commented on #437
Yes, the problem occurs in fullscreen as well as in other WMs/DEs.  Is there any way I can get a detailed log or something that could potentially help figure out what's causing this?

[2017-12-19 08:52] j-a-m-l commented on #437
You can use `Ctrl+d` to open the console.

[2017-12-19 18:54] Keithw12 opened #475 "Client window not appearing v1.4.3"
After a fresh install, the client will run.  After I close and reopen the client, the client window no longer appears.  The process is showing in task manager.  I've tried reinstalling and the same issue persists.  It will run once after a fresh install, but any other attempts to reopen fail about 90% of the time.

Things I've Tried:
Ran installation and client as administrator.
Disabled Windows D

[2017-12-20 01:25] jhmblvd opened #477 "Sign Message with a cold wallet"
When I open up the ARK client wallet I see that I have two accounts. One account has ARK in it. But when I go to Sign and Verify Message tab it says
This address has not received any ARK so it is not on the ARK blockchain and can not be used for signing messages.

Obviously I have received ARK so what does this mean

[2017-12-20 22:21] j-a-m-l commented on #477
@jhmblvd which version of the desktop wallet are you using?

[2017-12-21 07:14] reConNico commented on #429
In my opinion you need to input the whole passphrase to confirm and not only 3 words of it. Also disable copy/paste in this one.

@Jarunik : You can go with brians creator script when you want to create multiple wallets.

[2017-12-21 08:45] j-a-m-l commented on #441
Weird, I've tried myself and I couldn't reproduce the problem. @slydamus could you provide us with additional information?

[2017-12-22 17:56] ckhatri opened #479 "Link to Voting Article on Vote Page"
A user on reddit recommended adding a link to an explanation of voting on the voting page. I think its a good idea

https://www.reddit.com/r/ArkEcosystem/comments/7lifs8/official_wallets_should_have_an_explanation_of/

Was thinking of adding this link: https://blog.ark.io/how-to-vote-or-un-vote-an-ark-delegate-and-how-does-it-all-work-819c5439da68.

To the bottom of the voting page. What do y'all

[2017-12-22 20:55] slydamus commented on #441
Someone on ark slack offered a solution.
I removed version 1.4.3 and leave ~/.config/ArkClient directory intact (ubuntu 16.04), and then installed version 1.2.2 that "fixed" the problem, and then I installed again latest 1.4.3 and now it's working fine.
So, now I don't have problematic config files to send it to you, but I will try to recreate the bug and if I will be successful I will contact you

[2017-12-23 00:52] aleclarson opened #480 "One-time passwords?"
Is it worth considering "one-time password" support? Or does that not provide extra security for desktop wallets (since the secret key would be stored locally)?

[This library](https://www.npmjs.com/package/notp) looks like it could work (and no dependencies).

[2017-12-23 15:32] Jarunik opened #483 "Export Account should include the entire transaction history"
Currently the export Account button only extracts the last 50 transactions.

It would be helpful to be able to **extract all transactions** for documentation and tax purposes.

[2017-12-23 16:01] Jarunik opened #484 "Include all active networks in config"
It would be good to include all active networks which are compatible with the Ark desktops.

I think we should have: Ark Mainnet, Ark Devnet, Blockpool, Kapu.

[2017-12-23 16:27] Nasicus commented on #483
True.

I'll give this a try :)

[2017-12-24 15:47] fluorine commented on #417
I don't think that feature would be a priority, but I do believe that the user should have more control on the style of the wallet, which would be great and I think is easy to implement.

[2017-12-26 17:37] jhmblvd commented on #477
ARKCLIENT-Win64-1.4.3

[2017-12-27 08:18] Nasicus commented on #477
I can verify this on the newest master branch commit.

I also found out what the problem is (maybe @jhmblvd can verify if i'ts true for him too).

Problem is that the `PublicKey` for the account is missing.
The only way this can happen for me is,when the account has not yet **SENT** any Ark. If you only have **RECEIVED** Ark it's possible to still not have a public key (tested it on DARK-Net). As

[2017-12-27 11:58] #457 closed

[2017-12-27 12:32] #454 closed

[2017-12-27 23:47] dwarrier opened #489 "ARK and NEO addresses are too similar"
Hi,

I accidentally sent ARK coins to a NEO address, since the client considered it to be a valid address. I'm assuming my coins are lost for good. However, I would like to make sure others don't run into this issue in the future. Is there any way to prevent this (e.g. by giving a warning if the destination address doesn't have any transaction history?)

[2017-12-28 04:05] fluorine commented on #489
I think this is quite a good idea. It also helps users of cold storage wallets, to encourage them they check twice their cold wallet address.

[2017-12-29 10:38] littlepaullittle opened #492 "Sign with Ledger button does not show ?"
ARK Version 1.4.3 does not display the "sign with ledger" button. It worked before, but now it is not possible to send ARK token to Ledger Nano S. Any ideas ?
thanks, thomas

[2017-12-29 10:39] alexbarnsley commented on #492
Please make sure you have only 1 application open using the Ledger. Reboot your machine if necessary to make sure everything is closed and not being accessed.

[2017-12-29 10:50] littlepaullittle commented on #492
did so. all reboot. no apps running. Strangely when trying to send coins from Ledger TO Ark account, the "sign with ledger" does display. But not the other way round. Any other thoughts ? Thanks ever so much, thomas

[2017-12-29 10:54] boldninja commented on #492
Wait you are trying to send from normal ARK address that is not associated with Ledger with Ledger?

[2017-12-29 10:55] boldninja commented on #492
'Sign with Ledger' is only for ARK addresses that are associated with your Ledger, not ARK addresses you generate normally.

[2017-12-29 11:04] littlepaullittle commented on #492
Nope, sorry for my poor explanation. I'm trying to send the coins which I are on the ARK address (in the ARK account) to my private ledger address. Exactly how it is described by the manual. And it did work in the past. In this direction the sign does not display. Thus I can not send the coins to my ledger address. However, when trying to send ARK coins from the ledger address to eg. the ARK addre

[2017-12-29 11:06] alexbarnsley commented on #492
The "sign with ledger" only applies when sending from a Ledger device. If you're sending from a normal ARK address, you need your passphrase.

[2017-12-29 11:18] littlepaullittle commented on #492
Thank You so much. It did work and I apologize for mixing things up. Thank You, Thomas

[2017-12-29 11:20] alexbarnsley commented on #492
No worries, glad you got it sorted!

[2017-12-29 11:20] #492 closed

[2017-12-29 19:40] j-a-m-l commented on #489
After filling the form to send ARK, there's a confirmation step with all the relevant information. Adding a new confirmation should be unnecessary.

Instead of your suggestion of triggering a warning if the destination address is empty, we could show it in that confirmation page. We could check that is an existent ARK address, or even a NEO one, and show different text depending on the case.

IMHO

[2017-12-29 19:47] j-a-m-l commented on #480
I don't have experience implementing it, but, as you pointed, it wouldn't be very secure if it's storing the key in the same computer than the wallet.

[2017-12-29 19:56] j-a-m-l commented on #479
It's a very good idea.

@boldninja Apart from that link to our blog (which is perfectly clear), do you have any suggestions of other texts or links to include?

[2017-12-30 00:28] dwarrier commented on #489
Either one of these solutions sounds like it would prevent this issue in the future, thanks for the prompt replies!

[2017-12-30 16:48] j-a-m-l commented on #483
This is fixed on #485

[2017-12-30 16:48] #483 closed

[2017-12-30 23:06] bugpwdrdst commented on #384
I have the same problem.

I have exceptions on my firewall and AV. I tried uninstall and reinstall the newest version. I also tried installing the previous version, although both versions have worked in the past but one day it stopped working and like mentioned before same issue as OP. I can't access the light version with my ledger so have to work with desktop client.

[2017-12-31 10:04] ollied123 opened #494 "Ark is amazing"

[2017-12-31 10:38] j-a-m-l commented on #494
@ollied123 I guess that you solve your problem ;)

[2017-12-31 10:38] #494 closed

[2017-12-31 11:02] ollied123 commented on #494
Yes thank you Jaun

On 31 Dec 2017 10:38, Juan <notifications@github.com> wrote:

@ollied123<https://github.com/ollied123> I guess that you solve your problem ;)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ArkEcosystem/ark-desktop/issues/494#issuecomment-354596860>, or mute the thread<https://github.com/notifications/unsu

[2017-12-31 11:04] DukeCounter commented on #423
![arkwallet_gui_glitch2-20171231](https://user-images.githubusercontent.com/33992549/34460993-e21a2966-edec-11e7-9400-7f5cf8d1a70e.png)

as per discussion with @alexbarnsley, I am adding my account for this bug.

- OS: Windows 10
- monitor resolution: 1366 x 768
- client window was maximized

1. It is overlapping of elements but from different tabs. It looks like Transactions, Votes, Sign/Verify M

[2017-12-31 11:41] #453 closed

[2018-01-01 16:13] krl88 commented on #475
I have the same issue, although for me it fails to open 100% of the time.

[2018-01-02 07:53] Nasicus commented on #489
Personally I also think it's better if we show to the user that something _could_  be wrong. I'm also active in a big facebook group and I see often people who accidentally send stuff to wrong addresses (e.g. BTC to LTC and stuff like that).

I gave this a little try and it now looks like this (when the address is not valid, you cannot even click next)
![1](https://user-images.githubusercontent.co

[2018-01-02 18:06] florensie commented on #437
Is the icon font included in the ark-client or is it expected to be installed on your PC?

[2018-01-03 15:30] j-a-m-l commented on #489
Yes, IMHO we should use that kind of input status + message more.

The killer feature would be checking that it's a NEO address already.

[2018-01-03 15:33] #441 closed

[2018-01-03 15:33] j-a-m-l commented on #441
Thanks @slydamus for publishing the steps.

[2018-01-03 15:38] Nasicus commented on #489
Will try that. i can probably simpy use their API (new service in angular).

[2018-01-03 21:58] luciorubeens commented on #477
It's not a bug, is just a cold wallet. If your passphrase has never signed any transaction your account does not exist in the database, so to sign a message through a cold wallet we need to request the passphrase..

[2018-01-06 10:05] j-a-m-l commented on #480
@aleclarson I've closed this question because isn't an actionable task. If you want to provide more info about how to use it, you could re-open this issue.

[2018-01-06 10:05] #480 closed

[2018-01-06 10:16] j-a-m-l opened #502 "Describe the file format that is admitted to pre-fill the ARK transaction dialog"
Describing the expected file format would be useful.

[2018-01-08 17:22] j-a-m-l commented on #489
This is fixed in https://github.com/ArkEcosystem/ark-desktop/pull/499

[2018-01-08 17:22] #489 closed

[2018-01-08 17:31] j-a-m-l commented on #479
This is solved in https://github.com/ArkEcosystem/ark-desktop/pull/491

[2018-01-08 17:31] #479 closed

[2018-01-08 19:03] balubalubalu commented on #484
Ok, I'm going to take a look to this!

[2018-01-08 21:45] iamgh0sty opened #508 "white screen desktop wallet win10 64bit"
hi guys i just downloaded the ark desktop wallet and it only shows a white screen. Devtools shows: "Not allowed to load local resource:" did run it as admin and tried reinstalling. Do i need to install chrome or something else? Anybody had this issue before? Setup: Win10 64bit / GTX 970

Vippero on reddit said i should try this in console: " localStorage.clear();window.location.reload();"
gave me

[2018-01-09 18:55] CreamofXtreme commented on #447
I am having this issue as well. When I steadily scroll my mouse across the screen it'll freeze for a second and the jump to where it would keep going to. It only happens when I have the ARK wallet open.
Not sure if this might be the problem...When I open the task manager, I see there are 4 processes for ARK. Is that normal?
![ark](https://user-images.githubusercontent.com/35272436/34737638-85d2ea3

[2018-01-10 22:19] TakeitEasyAlan opened #512 "Ledger Nano S - not showing up in Ark Desktop"
Hi,

I have installed the Ark app on the ledger nano S, and opened the app and disable browser.
The Ledger Nano works fine with Ripple & ETH.
I have open closed the app on the ledger (and hear a bling, when it is opened again).
I have also restarted the Ark Desktop application (version 1.5.0) but as you can see below the Ledger Nano Wallet is not shown, any ideas I followed the instructions from t

[2018-01-10 22:22] alexbarnsley commented on #512
Hi,

The most common cause of this is that there is another ledger application open at the same time (e.g. Ledger Manager and ARK Client together). The ledger doesn't like 2 applications running at once. Before continuing, could you confirm there's only the ARK wallet running? A good way to do this could be to restart/logoff to make sure everything is closed properly.

Thanks

[2018-01-10 22:22] boldninja commented on #512
@TakeitEasyAlan Make sure Ledger Manager or any other Ledger wallet (other than ARK desktop wallet) isn't running.

If that doesn't help on Ledger when you open ARK app go to settings -> browser compatibility -> must be 'off'

[2018-01-11 00:01] luciorubeens opened #513 "Change QR Code to Identicons"
Hey guys,

One of our goals is to make this wallet user-friendly. Currently, the address is a bit long and difficult to memorize, so if the user has a wallet with more than 3 accounts it will not be practical to identify and select the correct address he wants to view.

My proposal is to change the icons in the wallet list and the QR Code of the current wallet selected to use [Identicons](https://

[2018-01-11 00:34] alexbarnsley commented on #513
I love the sound of something a bit more personal. However I'd be more than happy with the first set of icons you sent (https://camo.githubusercontent.com/3421b787d4bdc5731d1b69afc34f1e15770534a9/68747470733a2f2f692e696d6775722e636f6d2f754a4a6a384a682e706e67) - excuse the link, on my mobile. These are a lot like the slack default avatars

I personally think the characters look a bit strange, but t

[2018-01-11 06:46] TakeitEasyAlan commented on #512
Cheers will try this as I think the Ledger manager was still running as I add the ARK app to the ledger :-)

[2018-01-11 06:57] Nasicus commented on #513
I find the robots kind of cool and more fitting for Ark than the others. (It also supports the development is a little "further" there at the moment)

But I mean: If we'd want we could probably even make it configurable? (No avatars, the simple ones, set 1, set 2, etc.)

[2018-01-11 08:25] alexbarnsley commented on #512
No worries! I will close for now but if it's still an issue then please re-send so we can keep investigating 😁

[2018-01-11 08:25] #512 closed

[2018-01-11 08:56] j-a-m-l commented on #513
I'd love it. That was one of my undisclosed ideas ;)

About the identicon generator, I prefer the RoboHash because is different from the "normal" style, but I'd accept anything as long as it doesn't produce hash collisions.

[2018-01-11 13:52] boldninja commented on #513
I like it as well, but would make it a tab in settings where you can choose QR code, or any of the 3 styles from RoboHash.

[2018-01-11 14:40] j-a-m-l commented on #513
I'd use only 1 style because that style could also be used in the explorer and other tools. It's the same coherence that you can see in some Ethereum wallets (MEW, Parity, etc.).

[2018-01-11 16:43] Loreyse opened #515 "Norton blocking download of wallet 1.5.0"
Have previous version 1.4.3 on desktop Win64 but Norton has blocked the download of the new version.

[2018-01-11 16:54] boldninja commented on #515
Make an exception in your antivirus if it doesn't let you download.

[2018-01-11 17:24] boldninja opened #516 "Don't Fixate Just on 1 IP At Fresh Install"
Right now if you install ARK desktop on first start it tries to get peers list from 1 fixed IP. If that seed is down it won't be able to get peer list and not able to connect to network. Solution is to not relay on just 1 IP at fresh install, but pool / ping a few from seed servers.

[2018-01-11 18:46] Nasicus commented on #516
Maybe I don't fully understand it, but I guess you're talking about the `peerseed`:

[code]
However isn't it a little of a "vicious cycle" problem? Because the call `http://5.39.9.240:4001/api/peers` returns the list of peers...?
Or is the solution simply to provider an array of - let's say -  10 hardcodes peerSeeds which will be static in this file?

[2018-01-11 18:56] alexbarnsley commented on #516
That's the solution. I was going to replicate the sort of process as I did on the mobile app. If main fails, it tries the array

[2018-01-11 18:59] boldninja commented on #516
@Nasicus exactly, but if http://5.39.9.240:4001/api/peers is down you won't even be able to get a list of peers on a fresh install as this is the only IP it gets peers from.

[2018-01-11 19:01] Nasicus commented on #516
@boldninja yes then I understood correctly ;) But it's kind of a vicious cylce :D (Well except for hardcoding multiple ips :) )

@alexbarnsley
Do you wanna fix it or should I do it?

[2018-01-11 19:03] alexbarnsley commented on #516
Feel free to give it a go, and let me know if you have any trouble! I won't get chance to work on it until late tomorrow, or early next week I don't think

[2018-01-11 19:28] Nasicus commented on #516
Hmm I guess you're talking about this list:
https://github.com/ArkEcosystem/ark-ts/blob/master/src/config/index.ts

However in `arkjs` there's no such list - right?

So my questions now:

- Should I copy the same list into `ark-desktop`?
- Should I copy the same list into  `arkjs` - make a PR there, then use the updated package in `ark-desktop`? (_better_)
- Should I add `ark-ts` as a package in `

[2018-01-11 19:32] alexbarnsley commented on #516
My plan was your option 2, copy the list from ark-node (if different to ark-ts) to ark-js and then use that. However, you could do your option 3. It may add a bit of overhead though in terms of size so option 2 may still be best I guess. Test to see if the size of the built applications goes up drastically

[2018-01-11 20:15] zillionn commented on #513
I also very much like the idea. Both libraries are cool, but most adults will probably prefer the FlatHash. Option to choose will be great.

[2018-01-12 06:34] Nasicus commented on #516
@alexbarnsley
Right,  it's probably better to do option 2, because then everyone who uses `arkjs` can also use it, and it's not like that `arkjs` is deprecated :)

[2018-01-12 11:55] yonseiyes opened #517 "Something to fix in Korean Translation"
I had translated almost all the Ark white paper & Ark Wallet into Korean.
I found incorrect translation to fix
![something to fix in korean translation](https://user-images.githubusercontent.com/28528958/34874062-d9ef7172-f7da-11e7-9865-748829adbac5.png)

[2018-01-12 14:28] TakeitEasyAlan commented on #512
Thanks it worked :-)
I have asked Ledger to add it to their documentation, that only one application at a time should be used, so others will not have the same issue :-)

[2018-01-12 14:48] alexbarnsley commented on #512
@TakeitEasyAlan yeh good thinking. A lot of people have the same issue as you. It got me recently too and it's the first thing I usually suggest to people with Ledger issues.

[2018-01-12 16:29] vngrp commented on #431
To give it a proper name, let's look at the word definitions:

**Passphrase**
a sequence of words or other text used to control access to a computer system, program or data.

**mnemonic**
a system such as a pattern of letters, ideas, or associations which assists in remembering something.

**Comparison:**
a sequence of words **<** a pattern of letters
used to control access **<** assists in rememb

[2018-01-13 18:19] doublehelix24 opened #518 "Errors of POST requests are not displayed (affects sending and voting)"
**Update:**
When an error in sending or voting (or any POST request really) occurs the UI does not show any message. I.e. you can click through the sending/voting wizards and after that just _nothing_ happens. No error message, no green confirmation either, just nothing.

I propose that those POST error messages should be displayed in order to help the user solve the issue.
For example, if I set m

[2018-01-13 18:30] Nasicus commented on #518
Just tested on Devnet with Windows 10 x64. It works for me.
Can you open the Dev console (`CTRL + D` or via the edit menu) and see if there's an error?

[2018-01-13 18:36] alexbarnsley commented on #518
Just make sure the wallet is definitely connected to a peer at the time of sending the transaction

[2018-01-13 18:41] doublehelix24 commented on #518
@alexbarnsley Yeah, peer status was green, block height up to date and delay was shown as 120ms (i.e. normal).

@Nasicus Will do. Need to get DEVNET ARKs first since my real wallet now _has_ voted thanks to the Linux version and I don't want to waste real ARKs.

[2018-01-13 19:01] Nasicus commented on #518
Just click on the "Wifi"-Icon on top to switch the network.
And here you can create a DARK account with 50 DARK: https://kristjank.github.io/dark-paperwallet/

[2018-01-13 19:13] doublehelix24 commented on #518
Aha, the dev console shows an Internal Server Error:

dependencies.min.js:1 POST http://159.89.92.13:4002/peer/transactions 500 (Internal Server Error)

It does happen with every server I try, so I don't think it's a serer problem per se. To wit:

dependencies.min.js:1 POST http://45.76.39.61:4002/peer/transactions 500 (Internal Server Error)
dependencies.min.js:1 POST http://213.32.9.98:4002/peer

[2018-01-13 19:20] Nasicus commented on #518
When you're back you can try the following:

Go to the "Network" ab in the dev tools, find the 500 request , click on it and then click on headers and make a print screen smiliar to this (**ensure you're on the dev net to not expose any sensible information**):

![image](https://user-images.githubusercontent.com/1086065/34909308-0b52fea4-f89f-11e7-8a79-605a6f250ad4.png)

Also go to the "Resposne"

[2018-01-13 20:04] doublehelix24 commented on #518
Okay, found the issue:

The response from the server says:
`{"status":false,"error":"Object didn't pass validation for format ip: unknown: #/ip"}`

The reason is that the Windows 10 machine is configured to use my network's proxy server (squid-3.5.26). When I configure windows to not use the proxy server it works.

Here's the full output:
![image](https://user-images.githubusercontent.com/17807858

[2018-01-13 21:07] n4ru opened #520 ""Type an address or a name" but only an address is accepted."
Haven't actually tested with previous versions, but it looks like the client no longer allows sending to names as of the newest version - it gives the error "The address is not valid!".

[2018-01-14 09:07] Nasicus commented on #520
Just tested it. It always acted like that.

But I agree with you: You should proabably even be able to just type the name of a contact and it should be valid and be resolved.

[2018-01-14 09:19] n4ru commented on #520
I was thinking more about delegate names, but that too.

[2018-01-14 09:25] zillionn commented on #520
You can't use delegate name to send ARK, only contacts.

[2018-01-14 09:33] zillionn commented on #518
@doublehelix24 And can you send transaction?

[2018-01-14 09:34] n4ru commented on #520
That's the problem, you should be able to since it resolves to an address just fine.

[2018-01-14 09:35] Nasicus commented on #520
I personally agree that it would be nice. HOWEVER we'd need to ensure that no conflicts occur, e.g. if you have a contact with the same name as a delegate. Then we'd need to show a warning / error message.

[2018-01-14 09:43] zillionn commented on #520
If you connect to a bad peer it could resolve you a bogus delegate's address. Always use address.

[2018-01-14 09:49] zillionn commented on #518
Can you check your Squid settings if "forwarded_for" is on?

[2018-01-14 10:08] doublehelix24 commented on #518
@zillionn: Indeed, forwarded_for was _off_ and switching to _on_ fixes the problem.

This bug then really isn't a fault of the ark client. But I think it would be a good improvement to display if the POST to /transactions fails (for any reason). What do you think?

[2018-01-14 10:11] alexbarnsley commented on #518
I agree there should be some feedback on the transaction failing to send due to a local network fault. Maybe rename the git issue and edit your original comment at add the additional information, for anyone that then picks it up. Nice work on finding the cause of the issue all!

[2018-01-14 10:13] alexbarnsley commented on #520
I agree with @zillionn. It should be contacts only. If you regularly send to a delegate then you can add them as a contact, because then you've effectively approved the address

[2018-01-14 18:44] n4ru commented on #520
@zillionn I did not consider that, good catch.

@alexbarnsley Right. I guess contacts should still be resolvable by name when sending.

[2018-01-16 04:28] ABootleg53 opened #525 "Voting for Delegate with Second Passphrase Enabled"
If you have created a second passphrase, there is no way to vote for a delegate through the desktop wallet. See images attached https://imgur.com/a/qBjC8 for recreation on Dev net - signing second passphrase, then the UI for "Voting" then the error. Wallet is 1.5.0 for both. Original post [here](https://www.reddit.com/r/ArkEcosystem/comments/7qpaiz/im_having_trouble_with_voting_with_second/)

[2018-01-16 04:29] vmunich opened #526 "[Bug] [Version 1.5.0] Voting doesn't work for wallets with 2nd passphrase"
First report: https://www.reddit.com/r/ArkEcosystem/comments/7qpaiz/im_having_trouble_with_voting_with_second/

Voting on 1.4.3:
![](https://i.gyazo.com/c95a73b6192e6da5391b014b5cd65404.png)

Voting on 1.5.0:
![](https://i.gyazo.com/d6bc1df3f394d1cd53745adff7c9847f.png)

Bug introduced on https://github.com/ArkEcosystem/ark-desktop/pull/491

[2018-01-16 19:07] luciorubeens commented on #526
Thanks for opening the issue, I'll close this because it was already opened on #525.

[2018-01-16 19:07] #526 closed

[2018-01-16 19:18] #525 closed

[2018-01-17 18:23] vRobM opened #529 "ARK Desktop App Window Too Large"
By default the window is too large. We don't need a full screen wallet app. More like one to use for a transaction, then have it off to the side to monitor activity.

The elements within the window need to look better when the window is resized down.

The resized window size needs to be remembered across app restarts.

[2018-01-17 18:37] zillionn commented on #529
Which elements?

I have the wallet installed on Windows and Mac and I have no issues with remembering the window size and position.

[2018-01-17 19:30] vRobM commented on #529
This is on Win10 for me.

The left hand menu adjusts in size, but the right side could use some tweaks.
On a mac now and can't get it to run to look at specifics. More tonight.

[2018-01-17 19:44] vRobM opened #530 "There seems to be no way to add contacts via click vs copy/paste"
The UX forces one to copy and paste usernames and addresses to add an address.

This is silly.

When browsing transactions make it easy to click to add users/addresses to the contact list, without having to resort to copy/paste.

This is also a potential security issue in case something is monitoring the system paste buffer.

[2018-01-17 19:57] vRobM opened #531 "Ark app wants to connect to tycho.usno.navy.mil on TCP port 80 (http)"
why?

[2018-01-17 20:05] Nasicus commented on #531
It's used for a [time service](https://github.com/ArkEcosystem/ark-desktop/blob/master/client/app/src/services/time.service.js#L12)

[2018-01-17 20:13] vRobM commented on #531
I know, there are better ways to do this than routing peoples traffic to .mil TLD domains.
Why route everyone on the planet to a single NTP server?
There are proper pool addresses to use for closest time services across the planet.

[2018-01-17 22:22] zillionn commented on #530
There is an option to edit it but it should check if it's not in your contacts and show add icon.

[2018-01-17 22:24] alexbarnsley commented on #530
I believe this has been addressed in #470. But will take a further look just to be sure

[2018-01-20 02:40] elmostakes opened #534 "Re second passphrase, unable to vote"
Having trouble with voting after adding second passphrase. Shows option to add second passphrase for sending transactions, however there is no option for this while trying to vote. When trying to confirm I am unable due to lack of second signature error. Is this a bug?

[2018-01-20 09:03] luciorubeens commented on #534
Hey @elmostakes, this problem has already been fixed (#527) and we will release a new version soon.

[2018-01-20 09:03] #534 closed

[2018-01-21 21:11] 21stcn opened #535 "Error: 'missing sender second signature' when voting. v1.5.0"
Cannot vote if have 2nd passphrase in v1.5.0

1.     Votes tab -> VOTE
2.     Select a delegate
3.     Enter main passphrase
4.     It gives transaction details in popup, but no where to use 2nd passphrase
5.     Go SEND A1 NOW
6.     Error: Missing sender second signature

Even if I save the transaction offline, go SEND and import it, there is no place to use the 2nd passphrase when voting throug

[2018-01-21 21:31] Nasicus commented on #535
Fixed in #525 . They will release a new version soon :)

[2018-01-22 01:59] #535 closed

[2018-01-25 11:07] geokon72 commented on #475
I also have the same issue it fails to open but I can see the aplication is runnning
in the task manager.I have tried uninstalling + reinstalling the client, restarting my computer and running as administrator but nothing change .
Current version: ArkClient-Win64-1.5.0.exe

[2018-01-25 20:17] plzpickausername opened #537 "Split autocomplete addresses into tabs"
![](https://i.imgur.com/WpKXGhp.png)
 -> check this img.

this way much better user friendly ui

also i have wrong send cus not Separation with myaccount and contact

plz change this .

[2018-01-25 20:33] Nasicus commented on #537
In my opinion this is unnecessary.
I already partially addressed this in #524.
When you choose an wallet or a contact you now always see something like this:

Contact:
![image](https://user-images.githubusercontent.com/1086065/35410960-4fbd8bfa-0217-11e8-88d1-b0bfe8d2ff24.png)

Account/Wallet:
![image](https://user-images.githubusercontent.com/1086065/35410978-5e236c3c-0217-11e8-8a2e-be04426169b1.

[2018-01-25 20:45] plzpickausername commented on #537
Nasicus//
my account and contact is very diffrent thing

some time i want send my account to my account.
then im very sure i dont want see my contact address

if i send wrong then never can back

so. Split  is realy need

[2018-01-25 22:55] zillionn commented on #537
@Nasicus You could just add a line "Contacts" before the contacts and "My Accounts" before accounts.

<img width="682" alt="screen shot 2018-01-26 at 00 54 46" src="https://user-images.githubusercontent.com/3462869/35416885-9a3c2dbe-0233-11e8-95be-7d62fd104d03.png">

[2018-01-26 01:16] Cal-Naughton-JR opened #538 "Ark desktop wallet blank white screen."
I recently downloaded the desktop wallet, and when opened there was nothing but a blank white screen with the "application" & "edit" toolbars in the top left corner of the screen. I restarted my computer, uninstalled & reinstalled the wallet, and disabled screenshot protection. None of this helped. Still all I see is a blank white or black page. Any help with this would be much appreciated.

[2018-01-26 06:29] Nasicus commented on #538
When the window is open can you open the dev tools: `CTRL + D`  or `Edit - Open Dev Tools` and see if anything is there?
If not leave the dev tool window open and restart the app (`CTRL + R` or `Application - Restart`) and see if now anything is there.

[2018-01-26 06:38] Nasicus commented on #537
How about using different symbols? It's non intrusive and also will be the same way in ark-mobile:
![image](https://user-images.githubusercontent.com/1086065/35427807-e57b4246-026b-11e8-8801-22f0b02cc959.png)

(For consistency i would also use the wallet icon on the other places in the app)

[2018-01-26 10:24] zillionn commented on #537
Yes, it looks good.

[2018-01-26 10:26] Cal-Naughton-JR commented on #538
The window for Open Dev Tools won't even open. I did try refreshing / restarting after clicking Open Dev Tools, but still no luck.

[2018-01-26 11:44] j-a-m-l commented on #538
Which OS are you using?
Do you see the loading screen?

[2018-01-26 11:45] j-a-m-l commented on #537
I think that using a different icon is a good idea.

[2018-01-26 13:13] Cal-Naughton-JR commented on #538
Windows 10 and no loading screen.

[2018-01-26 16:42] Nasicus commented on #538
Do you have Chrome installed? If not could you install it and try again? (Normally this should not be an issue though and this is just a wild guess...)

[2018-01-26 17:23] Nasicus commented on #538
Just installed ark-desktop on my girlfriends laptop and it happens to.
Interesting to note is, that it's why but I think the functionality is there, i.e. I clicked on the position where I knew a link is (the link to the release news) and it worked.
I'll try to find out more.

[2018-01-26 17:46] Nasicus commented on #538
Ok for now I can at least tell you a workaround:

## Workaround
Go to the place where you the "Shortcut" to your ARK Client is.
Usually this is `C:\ProgramData\Microsoft\Windows\Start Menu\Programs`
Now right click on `Ark Client` and select `Properties`, click on the tab `Compatibility `. Click the checkbox  `Run this program in compatibility mode for:` and choose `Windows 8` or `Windows 7` (both

[2018-01-26 18:39] j-a-m-l commented on #538
@Cal-Naughton-JR has that workaround worked for you?

[2018-01-26 19:00] luciorubeens commented on #538
@alexbarnsley Yes, due to a security vulnerability

[2018-01-26 19:08] alexbarnsley commented on #538
@luciorubeens do you think it's worth a quick build with the previous version of electron that we used to use? Just to rule it out 🤔 I'm not at my machine to do a build at the minute unfortunately. I may be able to in a few hours though

[2018-01-26 19:09] Nasicus commented on #538
Wonder if it's related to #475 .

In the meantime I tried deactivating UAC (completely via registry), but this changes nothing.
Any other ideas what I could try?

[2018-01-26 19:54] Cal-Naughton-JR commented on #538
I appreciate the help! I will check here in the next few hours (away from my laptop currently). Sounds like you've got it somewhat figured out.

[2018-01-27 02:06] Cal-Naughton-JR commented on #538
I had to change to windows 7 in compatibility mode. All seems to be working now though.

[2018-01-27 10:48] Nasicus commented on #538
@Cal-Naughton-JR glad to hear it works for now!

---

@devs

So in the meantime I tried the following:
Upgraded some packages in package.json:
[code]
and rebuilt via `npm run dist:win` & installed this
=> same problem

Installed 1.4 => same problem
Installed 1.3.1 => same problem

[2018-01-27 11:04] Nasicus commented on #538
Ok now I have a REALLY good workaround, which doesn't make the client slow!
---
## Workaround
Go to the place where you the "Shortcut" to your ARK Client is.
Usually this is `C:\ProgramData\Microsoft\Windows\Start Menu\Programs`
Now right click on `Ark Client` and select `Properties`, click on `Shortcut`.
Now in the `Target` field append the argument ` --disable-gpu`.
The whole `Target` field shou

[2018-01-27 16:33] fbz76 opened #540 "ArkClient.exe parameter to enable/disable Screenshot protection"
Scenario:
When launching ArkClient.exe, the application starts by Defalut with Screenshot Protection Enabled. You can disable it opening the Application top-left Menu.
![image](https://user-images.githubusercontent.com/35872694/35473871-5a5e2356-0386-11e8-9a43-1de85772bb49.png)
Issue:
In the case you have your server or remote computers running wallets in your own LAN, and you are used to access t

[2018-01-27 17:07] zillionn commented on #538
Is this 1.5.1 issue or with every version?

[2018-01-27 17:09] Nasicus commented on #538
Pretty sure it's for every version. I tried a lot of versions (until 2.x) and the blank screen happened everywhere.

[2018-01-27 17:42] zillionn commented on #538
Well it's obviously something with your computers/GPUs, I have it installed on Windows 10 and got no issues whatsoever. Try to update your GPU drivers.

[2018-01-28 14:08] Nasicus commented on #540
Good idea!

Implemented it via a parameter. Normal users don't need this and this way it cannot be forgotten to turn off ("you need to know what you're doing").

[2018-01-28 14:15] luciorubeens commented on #540
Seems good, however this could make the wallet vulnerable

[2018-01-28 16:12] irkan-hadi opened #543 "Version 1.5.1 triggers Windows Defender SmartScreen warning message before installation"
Desktop windows client ArkClient-Win64-1.5.1.exe triggers the following message:

The message was not triggered by version 1.5.0

Is the publisher info missing?

Using Windows 10 Home N x64

[2018-01-28 16:32] Nasicus opened #544 "Issues with translations"
I think we have some problems with translations.

## Translations can only be extracted if they are a string

This can be extracted:
`gettextCatalog.getString('I am so cool')`
This can't be extracted (because it's a variable):
`gettextCatalog.getString(buttonText)`

### Proposed fix
~From now on strings which are not directly passed into `getString` and probably all toasts (I think not even a sing

[2018-01-28 19:28] Nasicus commented on #540
Why / how do you mean? (Assuming we do it via a parameter).
On Linux we don't even have protection implemented (or is this there ensured in another way?)

[2018-01-30 23:33] Shipwreck commented on #543
Getting this too. SHA256 matches and Malwarebytes / Defender not tripping. I'm gonna just go for it I guess.

[2018-01-31 00:41] luciorubeens commented on #543
Hey guys, this version was flagged by the anti virus probably due to electron update, but has already been confirmed as [false positive](https://www.reddit.com/r/ArkEcosystem/comments/7t3qzq/is_this_a_hack_or_a_bug/). We already signed the file for Mac, now we are working on the certification for Windows.

[2018-01-31 00:41] #543 closed

[2018-01-31 13:23] luciorubeens commented on #540
Someone can install a malicious software to change the shortcut and take screenshots. Currently the option is disabled when restarting/closing the application. But I'm just predicting the worst case scenario..

[2018-01-31 13:39] alexbarnsley commented on #540
I agree with Lucio. Someone could make a shortcut/wrapper and replace the original application to launch with the extra argument. Anyway round the protection could be used by someone externally as a way of disabling it themselves.

In Windows for example, I can create a shortcut of an exe, add the --disablescreenshotprotection argument and replace any existing shortcuts with this new one.

@lucior

[2018-01-31 14:15] Nasicus commented on #540
Well the question is, if anyone really targets the Ark client _specifically_ and manages to get on your computer, if we can even do anything at all. I highly doubt that in cases like this the screenshot protection will really help a lot.

[2018-01-31 22:21] #520 closed

[2018-02-03 08:09] vRobM opened #548 "Allow for forward/backwards navigation in transaction view"
Clicking on addresses brings us to that addresses blockchain explorer view, but there appears to be no way to navigate back one screen without jumping all the way back clicking on ones own address.

Please add buttons for moving fwd/back one page through the explorer.

[2018-02-03 08:13] vRobM opened #549 "Manage networks view incorrectly adds new network without saving network (cancel does not work)"
Manage networks, New:
Reproduce by adding a New network, populate seed server, click "Create", once it auto-configures, click the "Cancel" button.

The network is already added (Created) even though we did not "Save" the network.

One must then remove the network manually.

Please don't add the network until we click the "Save" button.
This flow may need to change the "Create" button to "Test" fir

[2018-02-03 08:18] vRobM opened #550 "Managing contacts from Explorer view"
When trying to add contacts (especially ones who make transactions with you) there is no way to "Add to contacts" function.

One must tediously copy the address, open contacts, add new contact and paste in the address and fill in the name.

The UX friendly way to enhance this experience is to add a button to every address or a right click menu option for adding the selected address to contacts.

P

[2018-02-03 08:44] vRobM commented on #513
Cartoonish figures preferred. Anything to remove the unsightly QR code which should only be used when needed. (upon click or menu selection)

[2018-02-03 09:53] luciorubeens commented on #550
I agree, it would be useful.

[2018-02-03 15:20] alexbarnsley commented on #550
#470

[2018-02-03 15:25] Nasicus opened #553 "Send dialog remembers values"
Since the send-form dialog was refactored it somehow and only sometimes remebers addresses which you put in, e.g.:

![resolve](https://user-images.githubusercontent.com/1086065/35768608-98bc4f38-08fe-11e8-9293-dff7bd7e227f.gif)

Not only was this probably not intended but it also doesn't work since you cannot click "Next" even though the address is already there and if you can click next it gives

[2018-02-04 10:32] alexbarnsley commented on #550
Duplicate of #530. Will close the other one as this has more info, however this has been solved in #470 which is due to be merged soon.

[2018-02-04 10:33] #530 closed

[2018-02-04 15:03] #57 closed

[2018-02-04 15:11] #69 closed

[2018-02-04 15:12] #101 closed

[2018-02-04 15:16] luciorubeens commented on #149
You can use the feature implemented in #216

[2018-02-04 15:16] #149 closed

[2018-02-04 15:18] #168 closed

[2018-02-04 15:21] luciorubeens commented on #180
- Basic plugin loader implemented in #207
- URI handler implemented in 1.5.1

[2018-02-04 15:21] #180 closed

[2018-02-04 15:23] #223 closed

[2018-02-04 15:24] luciorubeens commented on #221
Fixed #408

[2018-02-04 15:24] #221 closed

[2018-02-04 15:26] luciorubeens commented on #238
Fixed in version 1.5.1

[2018-02-04 15:26] #238 closed

[2018-02-04 15:29] luciorubeens commented on #249
We are currently using `electron@1.7.11`

[2018-02-04 15:29] #249 closed

[2018-02-04 15:31] #299 closed

[2018-02-04 15:32] #306 closed

[2018-02-04 15:32] luciorubeens commented on #322
Fixed #315

[2018-02-04 15:32] #322 closed

[2018-02-04 15:34] luciorubeens commented on #432
Duplicate #264

[2018-02-04 15:34] #432 closed

[2018-02-04 15:36] #368 closed

[2018-02-04 15:36] #544 closed

[2018-02-04 17:08] alexbarnsley opened #554 "Ability to rename a contact"
This is based on the old PR I just closed which I started - #347

[2018-02-05 15:03] #550 closed

[2018-02-05 15:17] #518 closed

[2018-02-05 15:37] j-a-m-l commented on #540
So, any decision about this?

[2018-02-05 16:18] j-a-m-l commented on #537
This issue is closed because a different solution has been implemented

[2018-02-05 16:18] #537 closed

[2018-02-05 16:27] j-a-m-l commented on #553
uhmm, that may work.

[2018-02-06 11:06] #549 closed

[2018-02-06 11:43] #540 closed

[2018-02-09 20:17] gabrielbull opened #557 "This prevents other apps to be hidden using command+h when Ark is open"
There is actually no need for it, electron should have command+h working by default on the app.

https://github.com/ArkEcosystem/ark-desktop/blob/e9b320b53360b279cd199b93c1055653f8441d42/main.js#L288

[2018-02-09 20:25] alexbarnsley commented on #557
This seems related to #69. I suspect cmd+h wasn't working, as it wouldn't have been added otherwise 🤔

[2018-02-09 20:34] gabrielbull commented on #557
Well, someone should dig deeper but blocking system wide cmd+h to have it work in Ark is a terrible workaround 🤣

[2018-02-10 04:05] gabrielbull commented on #557
I would do it but I don't have time, if someone wants to do it, [here's how it should be done](https://electronjs.org/docs/api/menu#main-process).

Basically, you need different app menu for macOS (darwin). With these as the first menu:

[code]

[2018-02-10 13:56] geokon72 commented on #475
Has anyone find a solution?
Version 1.5.1 and it still fails to open.

[2018-02-10 14:06] Nasicus commented on #475
Did yo try what I wrote in the linked issue?

[2018-02-10 14:19] geokon72 commented on #475
If you mean to append the argument --disable-gpu yes I've tried it as I've tried to run in copmpatibility mode.
Also I have another laptop with windows 10 64bit and the ark client works perfectly there.

[2018-02-10 15:00] Nasicus commented on #475
I see thanks for the feedback.

Can you try another electron app?
Let's say take slack: https://slack.com/downloads/windows

[2018-02-11 04:48] vRobM opened #559 "When adding new network and not specifying the name, it gets set to UNDEFINED"
Perhaps make this a required field to avoid undesirable network names.

Similar to the seed server field.

The name field does have a * indicating it is required, but it is not being checked properly.

[2018-02-11 04:49] vRobM opened #560 "Long delay (visually) before anything happens when selecting a new network"
Switching from MAINNET to DEV for example, makes one think the action did not go through, so while you click the menu again.. the delay expires and refreshed the entire screen.

Makes for poor UX.

Indicate something is happening or speed up switching.

[2018-02-11 04:52] vRobM opened #561 "News obscures buttons"
![image](https://user-images.githubusercontent.com/2704733/36068665-281d2e64-0e8f-11e8-8111-a42e027780bd.png)

The window is scrolled all the way to the bottom.

Move buttons? or Move News?

[2018-02-11 10:26] Nasicus commented on #560
Just a side note: If you have a fast connection & the peers are not slow, you barely ever notice this. However I agree that it's still nice to show a loading indicator.

[2018-02-12 21:59] j-a-m-l commented on #561
Could you elaborate about this? Is it the dashboard / home screen?

[2018-02-12 22:15] #560 closed

[2018-02-13 03:13] vRobM commented on #561
It happens on every screen when there is news. The screen shot for the buttons being obscured is the manage networks view.
If the news was on top or either side it would interfere less.

[2018-02-13 06:02] Nasicus commented on #561
But only on very very small window sozes right?

[2018-02-13 07:02] vRobM commented on #561
It is less of an issue full screen, but I don't use any apps full screen.
At even 3/4 the window height of the entire screen it still obscures
information at the bottom.

It should behave better at smaller window sizes w/o obscuring info.

++ Rob

About me <https://remote.com/r>

On Mon, Feb 12, 2018 at 10:02 PM, Nasicus <notifications@github.com> wrote:

[2018-02-14 09:01] vRobM opened #564 "Removing a Network does not remove all Network configuration data"
Repro:
Add side chain network
Add an address
Delete side chain network
It prompts it will delete all associated network data.
Add same side chain network
Address appears (previous data still there)

[2018-02-14 09:03] vRobM opened #565 "Removing a Network does not switch to primary Network"
Upon removal; it should auto switch to the first network (main net) instead of showing a zombie network that doesn't exist anymore.

[2018-02-15 09:03] vRobM opened #568 "Opening Manage Networks does not select current network"
Always defaults to first.

Let's say I am using DEVNET [2nd network], now going to Manage Networks opens MAINNET instead of DEVNET.

[2018-02-15 09:09] vRobM commented on #561
No, not only on very very small window sizes,
Here's an example window size which blocks the buttons and the Hand Crafted with Love message at the bottom of the main view:
![image](https://user-images.githubusercontent.com/2704733/36248504-9129c132-11ec-11e8-8ff9-5f5e0203bcee.png)
![image](https://user-images.githubusercontent.com/2704733/36248565-d3e0f2f2-11ec-11e8-930d-590381a7eb18.png)

[2018-02-15 09:24] Nasicus commented on #561
Why don't you just close them?

I think they are not reopened if you close them once (not 100% sure about that, though I tested it and it seems to work).

[2018-02-15 09:56] vRobM commented on #561
It comes back.
The issue is the obscuring of usable elements, not whether it's there or not. ;-)

Where else can it go? Why not below the menu bar in a layer underneath the menu?

[2018-02-15 10:44] Nasicus commented on #561
Well this is just my personal opinion but I find it ok where it is and how the behavior is.
What should be fixed - and apparently doesn't work for you, even though it does for me-  is that it should not reappear after you close the news.

[2018-02-15 11:03] zillionn commented on #561
md-toast .announcement {
z-index: 1;
}

Shoud fix this.

[2018-02-15 21:00] vRobM opened #569 "Add ability to brand wallet for sidechains"
Wallet name, logo, icons, about page, etc.

[2018-02-16 17:04] #516 closed

[2018-02-16 19:31] zbig001 opened #570 "ArkClient 1.5.1 (Windows version) disables USB keyboard"
I have a problem with ArkClient on stationary PC with Windows 7 64-bit Home installed.
USB keyboard becomes inactive after a couple of seconds (to one minute max.) after opening ArkClient window.
Only USB mouse is resistant to this bug.
Attempting to connect keyboard to different USB ports not helped.
ArkClient was used in combination with ledger nano s.

[2018-02-16 19:36] alexbarnsley commented on #570
If you take out your ledger and try using the wallet in the same way, do you have the same problem?

[2018-02-16 20:17] zbig001 commented on #570
Without ledger problem appeared the same.

[2018-02-17 08:06] vRobM opened #571 "Add "http://" as hint for Seed node text box when adding a new network"
Maybe prepopulate the text box with it?

[2018-02-17 08:08] vRobM commented on #561
Can we change the status as it seems like we have a potential fix?

[2018-02-17 09:20] Nasicus commented on #571
Added a placeholder, is this enough for you?

![image](https://user-images.githubusercontent.com/1086065/36339722-257f9eb6-13cc-11e8-9686-79010a2b305a.png)

[2018-02-17 09:22] Nasicus commented on #561
Well it is a fix, the question is if this should be the intended behavior ;)
The reason I didn't fix this, is because I don't agree with your statement and proposed solution.
The ark-team probably should agree first on how to solve this and/or if this is a valid solution for them.

[2018-02-17 09:31] vRobM commented on #571
I wouldn't use 'my' , just http://x.x.x.x:4001
Would it be easy to pre-populate the field with http:// so folks don't have to type it in?

[2018-02-17 09:39] Nasicus commented on #571
Changed it to your suggestion.

And yes it would be easy.
However I disagree with it, because then the field already has a value and therefore the "Next" button would be visible earlier.
However I will add a validation to the field that always and URL with either `http` or `https` is entered.

[2018-02-17 15:36] zillionn commented on #561
@Nasicus I don't believe this is so important. I'm using Macbook Pro, which is very common, and even in full screen I can't save any setting because of that footer bar. Do not hesitate to create a PR, it will be accepted.

[2018-02-19 04:26] Purple90 opened #572 "ArkClient 1.5.1 - Cannot access Ledger Nano S"
When I plug my ledger in, and open the ARK wallet, it does not appear in the ARK Wallet UI on my PC.

Edit: I checked and 1.5.0 also doesn't pick it up. I downgraded to 1.4.3 and it was able to pick it up right away.

[2018-02-19 07:36] alexbarnsley commented on #572
I see your edit. Was there any sort of restarts in between? Since it's working now on 1.4.3 I'll skip the browser support option. The other most common issue is having more than one application open using the ledger. This doesn't go down well with any of the open apps as they all get confused with each other. Try updating back to 1.5.1 and trying again

[2018-02-19 11:12] #564 closed

[2018-02-19 17:47] j-a-m-l commented on #572
Try this:
1. Create a new account if you don't have one
2. Go to that account
e. Do you see the Ledger accounts on the left sidebar?

[2018-02-20 19:28] Purple90 commented on #572
It was an existing account

On Mon, Feb 19, 2018 at 11:47 AM, Juan <notifications@github.com> wrote:

--
CJ Obermaier
Cell - 417-468-3433

[2018-02-26 11:58] #565 closed

[2018-02-26 19:55] j-a-m-l commented on #572
@Purple90 Did you tried the steps?

[2018-02-26 20:26] Purple90 commented on #572
I did not. I didn't want to create a new account on my Ledger (I already have all my coins on it). And since the older version works to move the coins around, I am going to use that. I am just keeping this open so there is some visibility on the issue with the new wallets.

[2018-02-26 23:02] stevesbrain commented on #572
@Purple90 Can confirm Ledger working fine with the latest wallet version: https://i.imgur.com/134yJXP.png

[2018-02-27 15:28] Purple90 commented on #572
Thank you @stevesbrain ! I am going to close this issue.

[2018-02-27 15:28] #572 closed

[2018-03-03 23:29] vmunich opened #580 "[1.5.1] Verifying a json message doesn't work"
The problem:

![GIF](https://media.giphy.com/media/i3wCMO3EQnpiEYBHQd/giphy.gif)

https://gyazo.com/a255a3e3119503f6cc0a88d5a197bc35

Signed message used (It's valid):
[code]

[2018-03-03 23:36] vmunich opened #581 "[1.5.1] Verify Text modal shouldn't have a scrollbar"
When verifying a message in text form, the modal should show all the fields without a scrollbar, there's no reason to have a scrollbar there. It's confusing, initially I thought it was missing the other fields until I realized I had to scroll up.

![GIF](https://im2.ezgif.com/tmp/ezgif-2-f4f54e3549.gif)

https://gyazo.com/a255a3e3119503f6cc0a88d5a197bc35

[2018-03-03 23:37] vmunich opened #582 "[1.5.1] Ledger wallets don't support signing/verifying messages"
Ledger wallets should be able to verify/sign messages just as regular wallets. At the moment, the `SIGN / VERIFY MESSAGE` is hidden on ledger wallets.

[2018-03-12 20:35] #580 closed

[2018-03-12 20:43] j-a-m-l commented on #581
Fixed by #583

[2018-03-12 20:43] #581 closed

[2018-03-16 06:05] Jarunik opened #585 "Fetch Epoch Time value from Network (v2 API)"
The desktop wallet does not work for the persona token. There seems to be a missing time offset. Currently you have to turn back your computer time by 1 year to send transaction.

We should really stay campatible with Ark based tokens!

[2018-03-16 07:33] alexbarnsley commented on #585
This will likely be resolved manually in a fork for Persona, but will be resolved for Ark once v2 API is released. The problem is the epoch time is currently hard coded in the ark-js and the network value cannot be pulled from the v1 API. v2 API includes this data so will be used once available. This has already been on my list for some time (due to deployer having the epoch option) but not really

[2018-03-19 14:52] zillionn opened #586 "Importing account"
When you import account you could import with 24 words valid BIP39 passphrase. Do you think we should also check if the passphrase is 12 words?

[2018-03-20 10:43] RedPlumpTomato commented on #334
Hi all,

I'm having the same issue so decided to upgrade to 1.5.1. Still, can't click anything in the main window, but, the menu at the top works fine.  Quit option doesn't though so I have to end ARK using the task manager. Anybody can shed some light on this?

[2018-03-21 14:54] j-a-m-l commented on #586
Currently we generate 12-word passphrases by default. Since I don't know how common are other options with different entropy I wouldn't add that limitation

[2018-03-21 14:54] #586 closed

[2018-03-21 16:10] j-a-m-l commented on #484
This issue will be addressed on the new version of the desktop wallet

[2018-03-23 17:01] j-a-m-l commented on #334
@RedPlumpTomato

- could you upload a screenshot of the screen?
- could you press Ctrl+d and copy the text of the console or upload it as a screenshot?

[2018-03-23 19:12] RedPlumpTomato commented on #334
It’s ok. Figured it out. I had my ledger plugged in and it was locked.  So unplugged it and all is well.

On Mar 23, 2018, at 1:03 PM, Juan <notifications@github.com<mailto:notifications@github.com>> wrote:

@RedPlumpTomato<https://github.com/redplumptomato>

  *   could you upload a screenshot of the screen?
  *   could you press Ctrl+d and copy the text of the console or upload it as a screensho

[2018-03-28 07:49] #559 closed

[2018-04-04 18:22] woutercox opened #589 "Usability issue: icon for 'remove' in 'action panel' for wallet may be confused with 'close' action"
Concerning Ark Desktop Wallet for Mac OSX - version 1.51.

In the Ark Desktop Wallet, if you press the "three dots" menu in the top right, you get an overlay. The 'Remove' icon looks like a 'close' icon because of the cross. Users might mistakenly press it wanting to close the panel.

Possible improvements are:
- move it to a less prominent location - for example the far right of the panel
- and/o

[2018-04-04 18:25] alexbarnsley commented on #589
@woutercox is the above screenshot intentional? The wallet has "protection" on windows and Mac. If you screenshot on the Mac, it does something interesting and screenshots the window behind it. You can disable screenshot protection in one of the menu's

[2018-04-04 18:31] woutercox commented on #589
@alexbarnsley thanks, I did not know and was actually struggling with that.

[2018-04-04 18:37] alexbarnsley commented on #589
No worries! It's a learning curve! Let us know if you need anything, will leave this issue as I've not actually looked into it :eyes: thanks!

[2018-04-05 16:51] YellowSharkMT commented on #254
Thanks @Cerv4ntez! You helped me identify a problem with installing `node-hid` on my system (Ubuntu 16.04). I was unable to launch `arkclient`, was experiencing exact same error as you, and I discovered that I was unable to install/re-install `node-gyp` on my system - I was getting stuck in a loop with this error message:

    gyp WARN EACCES attempting to reinstall using temporary dev dir "/usr/l

[2018-04-05 17:32] Cerv4ntez commented on #254
Hi, I'm glad this helped you, also, very appreciative of your appreciation 😉Am 05.04.2018 18:52 schrieb The Yellow Shark <notifications@github.com>:Thanks @Cerv4ntez! You helped me identify a problem with installing node-hid on my system (Ubuntu 16.04). I was unable to launch arkclient, was experiencing exact same error as you, and I discovered that I was unable to install/re-install node-gyp on m

[2018-04-19 15:58] #557 closed

[2018-04-19 16:10] #254 closed

[2018-04-27 20:02] agilob commented on #582
I just tried to unvote on an address from ledger and I get error that I dont have enough ARK to vote. Is that related? Do I need ARK on address to unvote?

[2018-04-27 20:06] alexbarnsley commented on #582
@agilob not related to this issue, but I'll respond anyway. Regardless of if you're using a ledger or not, it does cost 1 ARK to unvote for a delegate. There are plans to change the way this is done in AIP11, but in the meantime people often suggest sending the ARK to a new wallet and voting again, as that costs 0.1 ARK.

[2018-05-17 03:55] Joseph-Tortorelli commented on #431
@vngrp

I think you are confusing Mnemonic and Mnemonic Phrase.

Mnemonic Phrase usually has to do with a sequence of words, not only letters.

**References that use Mnemonic Phrase:**

[Blockchain.info](https://www.reddit.com/r/Bitcoin/comments/16hks7/wallet_recover_mnemonics_now_available_for_new/)

[MyEtherWallet](https://developers.toshi.org/page/recovering-eth-sent-to-testnet-token-wallet)

[

[2018-05-17 04:00] Joseph-Tortorelli commented on #582
Wrote an issue about it awhile back.

Its already labeled an issue.  Someone can close this issue.

#264

[2018-05-17 20:00] vmunich commented on #582
Seems like this isn't supported by Ledger yet. Will close this issue.

[2018-05-17 20:00] #582 closed

[2018-05-17 20:13] Razican opened #594 "Can't vote with Ledger"
So, I'm using versions 1.4.3, 1.5.1 and latest git code, and I can't vote with the Ledger wallet. This means I basically have no use for the currency. When I click to sign with the wallet, it just closes the pop-up and nothing happens. I'm on Linux.

[2018-05-21 16:01] j-a-m-l commented on #431
@Joseph-Tortorelli I'm closing this issue because we are rephrasing several texts on v2, if later, you think that the problem persists, please, re-open it.

[2018-05-21 16:01] #431 closed

[2018-05-22 06:16] #589 closed

[2018-05-26 13:40] alexbarnsley commented on #439
I missed this @Bluffet - sorry! Just tidying up. I suspect it is due to the old operating system you are working on, since I'm on 10.13 and it's working on my end. Are you running as a normal installation? I will close this for now, as we also have a v2 wallet in the works which may fix the issue.

[2018-05-26 13:40] #439 closed

[2018-06-11 18:16] #143 closed

[2018-06-11 18:17] #86 closed

[2018-06-11 18:17] #146 closed

[2018-06-11 18:17] #59 closed

[2018-06-11 18:18] #147 closed

[2018-06-11 18:19] #148 closed

[2018-06-11 18:19] #192 closed

[2018-06-11 18:19] #193 closed

[2018-06-11 18:19] #194 closed

[2018-06-11 18:20] #203 closed

[2018-06-11 18:23] #210 closed

[2018-06-11 18:24] #211 closed

[2018-06-11 18:24] #208 closed

[2018-06-11 18:24] #241 closed

[2018-06-11 18:24] #233 closed

[2018-06-11 18:24] #228 closed

[2018-06-11 18:25] #266 closed

[2018-06-11 18:25] #261 closed

[2018-06-11 18:25] #264 closed

[2018-06-11 18:26] #274 closed

[2018-06-11 18:26] #273 closed

[2018-06-11 18:27] #277 closed

[2018-06-11 18:27] #319 closed

[2018-06-11 18:27] #346 closed

[2018-06-11 18:27] #367 closed

[2018-06-11 18:28] #356 closed

[2018-06-11 18:28] #392 closed

[2018-06-11 18:29] #384 closed

[2018-06-11 18:29] #421 closed

[2018-06-11 18:29] #417 closed

[2018-06-11 18:30] #429 closed

[2018-06-11 18:30] #423 closed

[2018-06-11 18:30] #440 closed

[2018-06-11 18:31] #437 closed

[2018-06-11 18:32] #450 closed

[2018-06-11 18:32] #447 closed

[2018-06-11 18:33] #444 closed

[2018-06-11 18:33] #477 closed

[2018-06-11 18:34] #475 closed

[2018-06-11 18:34] #460 closed

[2018-06-11 18:34] #484 closed

[2018-06-11 18:35] #502 closed

[2018-06-11 18:35] #513 closed

[2018-06-11 18:35] #508 closed

[2018-06-11 18:36] #515 closed

[2018-06-11 18:36] #517 closed

[2018-06-11 18:37] #531 closed

[2018-06-11 18:37] #529 closed

[2018-06-11 18:39] #538 closed

[2018-06-11 18:39] #548 closed

[2018-06-11 18:40] #553 closed

[2018-06-11 18:40] #554 closed

[2018-06-11 18:40] #568 closed

[2018-06-11 18:41] #561 closed

[2018-06-11 18:42] #569 closed

[2018-06-11 18:43] #571 closed

[2018-06-11 18:43] #585 closed

[2018-06-11 18:44] luciorubeens commented on #594
Hey @Razican, sorry my late reply. Did you solve it?

[2018-06-11 20:03] Razican commented on #594
I solved it by using the release binaries, but I couldn't compile it myself from source.

[2018-06-11 20:11] luciorubeens commented on #594
Yes, it's pretty annoying to compile the node-hid. I updated it recently to the last version, if you still have interest maybe this will help:

- Fetch last commit.
- Install nvm.
- Run `nvm use` in the source directory.
- Run `rm -rf node_modules client/node_modules client/app/dependencies.min.js && npm install`.

I hope it works 😅

[2018-06-11 20:11] #594 closed

[2018-06-12 20:55] fix opened #597 "Vulnerability on picking a peer."
Here https://github.com/ArkEcosystem/desktop-wallet/blob/master/client/app/src/services/network.service.js#L318

it checks version. it is a vulnerability. by hacking a seed server and setting a custom version number it will force all user using this seed to only connect to peers that will have this version, being thus able to force them to connect to an attacker node.

The check for version should

[2018-06-28 16:44] katomm opened #603 "Privacy concerns with Changelly integration"
Hello,
as soon as the wallet opens, it looks like it does load the iframe of the Changelly widget. (Even if you do not want to use it or click the tab)

If an user has some kind of personal firewall installed it will look like the wallet opens connections to:
 google.com
 ssl-google.analytics.l.google.com
 platform-lookaside.fbsbx.com
 facebook.com
 yandex.ru
 doubleblick.net
 and maybe others

 N

[2018-07-15 21:20] GeorgH93 opened #607 "Virus infection in Windows installer"
I have just downloaded the Windows installer and I can say it is defiantly infected with something.

After seeing that the file I have just downloaded did not match the checksum published on the GitHub releases page and a new download didn't fix the problem, I decided to check it in an virtual machine with an clean windows install.
After the installation of the program Windows informed me that som

[2018-07-15 21:55] luciorubeens commented on #607
We are investigating, the files have been removed for now! Thanks for reporting.

[2018-07-16 09:39] alexbarnsley commented on #607
@GeorgH93 please could you send over the windows version you have (if you still have it). Please send it on Slack - my user is @alexbarnsley

[2018-07-16 17:21] GeorgH93 commented on #607
@alexbarnsley  Sure. I am not in the ark workplace yet, I have requested an invite via the website and will send it to you asap.

[2018-07-17 10:13] Animo11 opened #609 "Trojan in ArkClient-Ubuntu-1.6.0_amd64 (1).deb ?"
I just checked the ArkClient-Ubuntu-1.6.0_amd64 (1).deb file I downloaded on 28-06  it gives two warnings on Virustotal.
Avast
ELF:Agent-RA [Trj]
AVG
ELF:Agent-RA [Trj]
I always verify hash and use Virustotal before installing so I know this was not the case in June.
If I download again I got same result,false positive???

[2018-07-17 11:22] boldninja commented on #609
This looks like a false positive. I just double checked uploading:

https://www.virustotal.com/#/file/25a5e83d0ae86097c713b852e24359b926620c0b01779d3ef0cab7b60751feb9/detection

Can you compare your SHA256 with this legit one?

[2018-07-17 12:52] Animo11 commented on #609
Already did and they match,is same SHA256 for both downloads(the version I downloaded on 28-06 and today).I just wanted to notify  because I got no false positive in June.Don't find much info about ELF:Agent-RA [Trj] on Google and was a bit worried.

[2018-07-19 17:47] j-a-m-l commented on #603
This was fixed by #604. In some minutes/hours it'd be available.

[2018-07-19 17:47] #603 closed

[2018-07-23 12:58] boldninja commented on #607
@GeorgH93 can you contact me in ARK's Slack (username 'boldninja').

[2018-07-23 13:10] GeorgH93 commented on #607
0LA988j=)

[2018-07-24 20:50] luciorubeens commented on #607
I'll close since the files have been updated.

[2018-07-24 20:50] #607 closed

[2018-08-01 11:08] j-a-m-l commented on #609
@boldninja Could this be closed?

[2018-08-01 11:09] boldninja commented on #609
Yes

[2018-08-01 11:09] #609 closed

[2018-08-02 10:32] boldninja commented on #570
I'm gonna close this issue if you still having this issue please re-open it. Make sure to use the latest version of the Desktop wallet available at : https://github.com/ArkEcosystem/desktop-wallet/releases

[2018-08-02 10:32] #570 closed

[2018-08-07 10:27] luciorubeens opened #615 "URI Scheme not working"
Check the integration with ark-qrcode.

[2018-08-13 12:51] axenter opened #618 "Signing a tx on windows client"
Signing a tx on the windows desktop client when using a non ledger address ask for ledger to sign after one tx has been signed. Requires a restart to be able to sign a new tx again.

[2018-08-13 12:54] boldninja commented on #618
@j-a-m-l  can you try to reproduce this?

[2018-08-13 16:34] j-a-m-l commented on #618
OK.

@axenter what Windows version are you using?
When you say "to sign after one tx has been signed" do you mean that you signed a transaction with a Ledger, remove it, and then you tried to sign a transaction with a different address?

[2018-08-17 13:05] axenter commented on #618
Still a bug in the new version. (latest and the one before that used)

Sending a tx from a non ledger address so normall address will ask for a ledger confirm for the second tx.

[2018-08-17 13:12] axenter commented on #618
Not a bug @gerard doesn't know how blockchains work :')

[2018-08-17 14:03] boldninja commented on #618
Tagged wrong Gerard 🤣

[2018-08-18 14:49] j-a-m-l commented on #618
The creator of the issue has asked me to close it.

[2018-08-18 14:49] #618 closed

[2018-08-20 22:48] EvertonMelo opened #620 "Add support for FreeBSD"
I would like to be able to help make a portfolio PORT for the Freebsd operation system, you have it on the Roadmap, do you need help?

[2018-08-21 18:44] j-a-m-l commented on #620
Would you mind to indicate where is that on the roadmap?

Before implementing we need to know that there is a big enough community that is going to use it, so we have to reject this proposal until that.

[2018-08-21 18:44] #620 closed

[2018-08-29 08:52] vRobM opened #621 "#HELP Lost MAINNET accounts"
In testing DEVNET after the reboot of the chain, had some issues getting the wallet to work correctly.

After removing the DEVNET network and creating a new one, the MAINNET got corrupted somehow. Now MAINNET is blank with no accounts even though it has a network configuration listed.

Reload, restart, network swap all do nothing to resolve. The data for MAINNET, I have a feeling, has lost it's in

[2018-08-29 09:11] fix commented on #621
mmm looks like corruption. Can you audit the storage:
- ctrl+D
- check Application tab -> local storage

copy and paste here the content o `global_mainnet`

[2018-08-29 11:05] zillionn commented on #621
This happened to me twice.

[2018-08-29 17:55] vRobM commented on #621
{"marketTicker":{"ARK":{"symbol":"ARK","currencies":{"BTC":{"price":0.0001336,"marketCap":14003.972574399999,"volume":168.05271906235916,"timestamp":1535565174,"change24h":3.807303807303794},"AUD":{"price":1.283790456,"marketCap":134567113.30165023,"volume":1634330.5648469087,"timestamp":1535564491,"change24h":3.807303807303812},"BRL":{"price":3.8291096,"marketCap":401367857.9548784,"volume":48746

[2018-08-29 17:57] vRobM commented on #621
Looking at it, there is another entry below it, called `storage-undefined` that seems to have my addresses in it.

rename the mainnet and make undefined mainnet?

[2018-08-30 06:01] vRobM commented on #621
yes? no?

[2018-08-30 17:39] vRobM commented on #621
I can't do anything from that context anyway.. the only action is a refresh.. so what do we do now?

find out how something like that gets corrupted? may not be worth the time in v1
detect an undefined wallet and repair it? would need a new build.
how to manually repair this?
I found the file__0.localstorage file that appears to be a SQLite DB, but there are a few others.

[2018-09-01 15:40] vRobM commented on #621
I still need help resolving this

[2018-09-02 17:28] vRobM commented on #621
copying the contents of storage-undefined to storage-mainnet doesn't produce any changes.
no addresses show up in the wallet.

[2018-10-02 00:18] DocOBITCOIN opened #622 "Bug"
PLEASE, DO NOT CREATE AN ISSUE IF IT DOES NOT FIX SOMETHING CRITICAL OR URGENT.

WE ARE WORKING ON OUR NEXT AWESOME DESKTOP WALLET NOW.

The public beta of the new wallet will be ready in a few weeks. We do not want to waste your and our time working on something that would be replaced so fast.

[2018-10-03 03:46] DocOBITCOIN opened #623 "It coming"
PLEASE, DO NOT CREATE AN ISSUE IF IT DOES NOT FIX SOMETHING CRITICAL OR URGENT.

WE ARE WORKING ON OUR NEXT AWESOME DESKTOP WALLET NOW.

The public beta of the new wallet will be ready in a few weeks. We do not want to waste your and our time working on something that would be replaced so fast.

[2018-10-03 05:19] #623 closed

[2018-10-03 08:59] #622 closed

[2018-10-07 19:18] jamiec79 opened #624 "Wallet to check NTP, internet time sync at point of opening wallet."
Could the Ark desktop wallet perform a check on Internet time when you open it each time.

If NTP time is out of sync locally, then flag to user to update before proceeding?

Thanks

[2018-10-08 12:57] j-a-m-l commented on #624
Thanks for the idea. We may include it on the new version of the wallet.

[2018-10-08 12:57] #624 closed

[2018-10-08 12:58] alexbarnsley commented on #624
@j-a-m-l 	a better way may be to offset all transaction timestamps based on the ntp offset, that way the user doesn't have to do anything on their machine at all

[2018-10-08 20:29] jamiec79 commented on #624
Cool thx for the reply :)

[2018-10-12 13:15] DeviNaty opened #625 "export to .CSV option"
Having a option to export transactions within the ARK wallet into a .CSV would be nice for accounting purposes.

[2018-10-12 13:16] axenter commented on #625
Not needed for this version but something that can be added to V2

[2018-10-12 19:19] j-a-m-l commented on #625
Yes, it's a good idea. Something like that will be include on the next version.

[2018-10-12 19:19] #625 closed

[2018-10-30 12:53] faustbrian commented on #615
@luciorubeens was this resolved?

[2018-10-30 14:54] luciorubeens commented on #615
Yes, via #626

[2018-10-30 14:54] #615 closed

[2018-11-15 22:15] vRobM commented on #621
since there was no followup, a complete reinstall & reimport was required.

[2018-11-15 22:15] #621 closed

[2018-12-03 20:54] j-a-m-l opened #628 "Cropped Debian package description"
On Ubuntu 18.10:

![screenshot_20181203_215330](https://user-images.githubusercontent.com/1161224/49400926-fb8e2100-f745-11e8-8c80-861e0e301f91.png)

[2018-12-03 21:12] PaulCaillau opened #629 "Responsiveness of the safety start screens"
**Describe the bug**
Responsivness problem on Desktop Wallet V2 start screens

**To Reproduce**
Steps to reproduce the behavior:
1. Download and install the Desktop Wallet V2
2. Safety start screens prompt and here are the lack of responsiveness.
3. Reset data and open your wallet App again if already set up.

**Expected behavior**
I expected the buttons to be correctly placed on my screen when it

[2018-12-03 21:25] reConNico opened #630 "Contacts just display a amount of zero"
**Describe the bug**
In the new v2 desktop wallet the contacts just show an amount of zero. Both on the listing and the detail page of the contacts.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My contacts'
2. Create a new contact (example address: AUDud8tvyVZa67p3QY7XPRUTjRGnWQQ9Xv)
3. See error (both on listing and detail of contact)

**Expected behavior**
The correct amount of t

[2018-12-03 21:36] Jarunik opened #631 "Ledger White Screen"
**Describe the bug**
Ledger Nano S doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Wallet
2. Plugin Ledger nano S
3. Enter Pin
4. Click Ark Logo
5. Screen turns white

**Expected behavior**
Use wallets on ledger

**Screenshots**
-

**Server (please complete the following information):**
 - OS: Windows
 - Version 10

**Additional context**
Ledger works without problems on t

[2018-12-03 21:38] alexbarnsley commented on #631
@Jarunik please open the developer tools and copy the error, if there is one

[2018-12-03 21:55] vmunich opened #632 "Total Balance doesn't account for Ledger wallet's balances"
**Describe the bug**
The Total Balance on the top of the wallet doesn't account for Ledger wallet's balances.

**Expected behavior**
It should be a sum of the balance of every wallet loaded on the Desktop Wallet.

**Screenshots**
![screenshot](https://i.gyazo.com/3f567dec3837fc2783b80533b61aeff0.png)

**Server (please complete the following information):**
 - OS: OSX 10.14.1

[2018-12-03 22:08] zillionn opened #633 "Can't change the peer"
**Describe the bug**
I can see my accounts' transactions but the peer is `None` and can't change it.

**Screenshots**
<img width="523" alt="screenshot 2018-12-04 at 00 04 46" src="https://user-images.githubusercontent.com/3462869/49404492-43b63f00-f758-11e8-971d-f2a2eac04408.png">

**Server (please complete the following information):**
 - OS: Mac OS
 - Version: Mojave 10.14.1

[2018-12-03 22:16] zillionn opened #634 "Ledger can't send"
**Describe the bug**
`Send` button doesn't appear with Ledger accounts. Also total amount is `0`.

**Screenshots**
<img width="955" alt="screenshot 2018-12-04 at 00 12 47" src="https://user-images.githubusercontent.com/3462869/49404910-888ea580-f759-11e8-8a8f-bb2b8ae54846.png">

**Server (please complete the following information):**
 - OS: Mac OS
 - Version: Mojave 10.14.1

[2018-12-03 22:32] sleepdefic1t commented on #634
Can confirm issue.

`send` seems to only appear on new Ledger addresses without sent tx's.

Balances also show `0` in wallet-view, as well when Ledger address is added in "contacts".

- OS: Mac OS
- Version: Mojave 10.14.1

[2018-12-03 22:36] sleepdefic1t commented on #633
Can confirm Mainnet peer issue.

Interestingly, Devnet shows peers status and allows changing peers.

<img width="379" alt="screen shot 2018-12-03 at 2 35 33 pm" src="https://user-images.githubusercontent.com/7477456/49405870-bac3e700-f708-11e8-910a-bbfa949094f1.png">

- OS: Mac OS
- Version: Mojave 10.14.1

[2018-12-03 22:40] ItsANameToo commented on #633
Should be fixed by https://github.com/ArkEcosystem/javascript-client/pull/9

[2018-12-03 22:49] sleepdefic1t commented on #633
ArkEcosystem/javascript-client#9 should resolve it 👍
Nice find @ItsANameToo

In the mean time, adding a peer manually seems to work fine on my system.

<img width="390" alt="screen shot 2018-12-03 at 2 39 26 pm" src="https://user-images.githubusercontent.com/7477456/49406219-cbc12800-f709-11e8-951d-3d840199b051.png">

<img width="392" alt="screen shot 2018-12-03 at 2 38 52 pm" src="https://user-im

[2018-12-03 22:51] ItsANameToo commented on #633
Credits go to @alexbarnsley :)

[2018-12-03 22:52] sleepdefic1t commented on #632
#634 also notes Ledger address balances as ```0```.

[2018-12-03 22:54] sleepdefic1t commented on #634
`0` Balance issue likely the same causing #632.

[2018-12-03 23:00] sleepdefic1t commented on #630
Just Ledger addresses appear to be ```0``` for myself, @vmunich & @zillionn in macOS.
_**(#632 & #634 )**_

Our systems appear to all be:
- OS: Mac OS
- Version: Mojave 10.14.1

Is this all contact addresses on your Ubuntu machine?

[2018-12-04 00:42] cambo666 opened #635 "Contribute Guidelines Link Broken or Doc Nonexistant"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like the Contribute Guidelines Link to Arkdocs to work.

**Describe alternatives you've considered**
Manually finding the doc in the docs library.

**Additional context**
![contribute guuidelines](https://user-images.githubusercontent.com/38162561/49410580-5d915b00-f733-11e8-8c0b-25

[2018-12-04 00:49] cambo opened #636 "Wallets Ordering Re-arrange"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
As you add wallets in the new Ark Desktop Wallet they properly get added to the sidebar.
I would like the ability to re-arrange the wallets. Currently, my primary wallet is now on the bottom of the sidebar and I'd like to move it to the top of my list of wallets. Currently, I have to scroll

[2018-12-04 06:03] Jarunik commented on #631
Found the problem. Firmware needs to be at least 1.4.2.

[2018-12-04 06:04] #631 closed

[2018-12-04 07:06] numba1enigma opened #637 "desktop wallet Mac"
when importing public address, clicked arcade by mistake.  closed window and camera stayed on.  should turn off after closing.

camera turned off when closing wallet

[2018-12-04 08:52] #635 closed

[2018-12-04 08:59] reConNico commented on #634
Can confirm `send` problem as well. For Ledger addresses without tx's the button appears.

* OS: Ubuntu
* Version: 18.04

[2018-12-04 10:25] dvdptr opened #639 "Sound theme for Desktop Wallet v2"
As listed in the blog post about Desktop Wallet v2 (https://blog.ark.io/new-frontiers-ark-desktop-wallet-v2-67df8f7bcbb5) it's a possible future update to integrate audible feedback for some actions. As »what's next?« it says: »Sounds — add optional sounds for incoming / outgoing transactions? Up for discussion.«

As I have a background in sound design I'd like to work on that by creating unique s

[2018-12-04 13:33] maisonark opened #640 "Currency settings"
**Describe the bug**
When changing the currency at the left panel (gear icon) it will not be saved for next time like other options such dark-theme do stay saved.

**Additional context**
I'm using the win64 version

[2018-12-04 13:57] zillionn commented on #636
Maybe they should be just ordered by name. This way you can label them 1., 2., 3. ...

[2018-12-04 14:18] j-a-m-l commented on #640
Thanks @maisonark .

It could confuse some users, although it was done on purpose. But, since the theme is persisted after the session, then clearly, the currency should work the same way.

[2018-12-04 14:35] j-a-m-l opened #641 "Choose which sounds would be played on events"
Initially we could, either provide some sounds (like #639) or not, so this feature would be enabled only if the user has selected the sounds.

 * Play a sound at different events:
   - Receiving transactions
 * Those sounds could be disabled too.
 * The user should have the option to choose the sounds.

[2018-12-04 14:39] j-a-m-l commented on #639
Probably we all were thinking about a simpler feature, something similar to the old wallet.

Maybe some people want to change the original sound (from one Super Mario Bros) to something different (maybe https://www.youtube.com/watch?v=-0kcet4aPpQ), so we could allow custom sounds.

I think yours it's a good initiative, and maybe those could be the default sounds (or 1 of the sound themes).
I've cr

[2018-12-04 14:43] j-a-m-l commented on #636
We could provide filters and sorting options instead.

[2018-12-04 14:49] j-a-m-l commented on #629
I confirm that the problem is on Linux too: buttons were move to different places on each step.

[2018-12-04 14:58] zillionn commented on #636
Yes, maybe the easiest way to do this is to include a dropdown next to `My wallets`:
<img width="260" alt="screenshot 2018-12-04 at 16 57 08" src="https://user-images.githubusercontent.com/3462869/49450440-a73a7e00-f7e5-11e8-9afc-9b4c283b645d.png">

And then you can use that setting everywhere to order the wallets.

[2018-12-04 15:07] zillionn opened #642 "Print wallet details"
It could be a nice feature to be able to print all wallet's details after you create it, similar to the paper wallet.

[2018-12-04 15:11] alexbarnsley commented on #633
Resolved in #643

[2018-12-04 15:11] #633 closed

[2018-12-04 15:31] alexbarnsley opened #644 "Persist unconfirmed transactions, and clear if past the core expired time"
**Describe the bug**
If a transaction is sent and the fee is too low, it never disappears from the app. Also, unconfirmed aren't persisted so a reload of the app will remove all unconfirmed.

**Expected behavior**
- Persist and show unconfirmed after reload
- Remove unconfirmed if past the core pool expiry time

[2018-12-04 15:49] alexbarnsley commented on #634
🤔 	the only thing that stops the "Send" button showing is if the wallet is not a contact. I presume you've all not added the wallet as a contact. Can someone show the the Console tab in the devtools please, ignoring any 404 errors (core v2 returns 404 error if wallet doesn't exist on the chain)

[2018-12-04 16:45] zillionn opened #645 "Small design suggestions"
Right side - there is some empty space at the top:
<img width="167" alt="screenshot 2018-12-04 at 18 20 24" src="https://user-images.githubusercontent.com/3462869/49456489-dfe05480-f7f1-11e8-94b0-61c947a1fa10.png">
<img width="411" alt="screenshot 2018-12-04 at 18 08 04" src="https://user-images.githubusercontent.com/3462869/49456490-dfe05480-f7f1-11e8-86ea-1093b57ada5c.png">

My wallets - no spac

[2018-12-04 16:49] j-a-m-l commented on #645
Thanks.

Some of these issues would be addressed, while others probably not: the space at the top of the wallets sidebar would be used to add filters, for instance.

[2018-12-04 16:54] ItsANameToo commented on #629
@PaulCaillau can you specify the screen size you used when you experienced this?

[2018-12-04 16:55] zillionn commented on #634
The only error I got.

<img width="1280" alt="screenshot 2018-12-04 at 18 52 37" src="https://user-images.githubusercontent.com/3462869/49458711-0a341100-f7f6-11e8-80cd-8263172fc147.png">

[2018-12-04 16:56] ItsANameToo commented on #629
<img width="1077" alt="intro" src="https://user-images.githubusercontent.com/35610748/49458802-d3f29380-f7ed-11e8-9f85-29600d866017.png">

I'm unable to reproduce this, even on a small screen size, so maybe it's a windows / linux issue

[2018-12-04 16:56] zillionn commented on #634
Oh, actually I have my Ledger wallets as contacts!

[2018-12-04 17:08] zillionn commented on #634
So, removed one of the wallets from the contacts and it showed the Send button.

OK, what's the best way to monitor my Ledger wallets when the Ledger is not connected? I've added them as contacts so I can see their txs.

So, I tried to add one of my Ledger wallets to `My Wallets` not to `Contacts`:
1. Disconnected the Ledger
2. Added one of my Ledger wallets `Ledger 2` to `My Wallets` and labeled

[2018-12-04 17:31] zillionn opened #647 "Recipient search"
When sending the recipient search is case-sensitive, imo it should be insensitive:
<img width="469" alt="screenshot 2018-12-04 at 19 30 36" src="https://user-images.githubusercontent.com/3462869/49460892-1bcbe780-f7fb-11e8-82d0-2ed8992f87c8.png">
<img width="470" alt="screenshot 2018-12-04 at 19 30 40" src="https://user-images.githubusercontent.com/3462869/49460897-1e2e4180-f7fb-11e8-9c47-bda746a0

[2018-12-04 18:19] vmunich opened #648 "Can't see a wallet's public key unless it has sent transactions"
**Describe the bug**
After creating a brand new wallet, or importing a wallet that has no transactions yet, there's no button to see its public key.

**Screenshots**
![](https://i.gyazo.com/ad213c9aef9fcf764e02c4739110a6bd.png)

**Expected behavior**
![](https://i.gyazo.com/3e53875447c4e91ce5a5b1a1697177ad.png)

[2018-12-04 18:22] boldninja commented on #648
That is normal behaviour.

[2018-12-04 18:33] ItsANameToo commented on #648
We like you @vmunich and reopen this issue. We should be able to get it to work when importing a wallet by passphrase and when generating a new one.

[2018-12-04 19:39] #640 closed

[2018-12-04 20:04] moazzamak opened #651 "Unconfirmed transaction rebroadcast option"
**Is your feature request related to a problem? Please describe.**
Sometimes a transaction being sent doesn't get confirmed and it's left unclear whether it will be accepted or if it should be resent.

**Describe the solution you'd like**
Sent transactions that are unconfirmed should be shown in the transaction list with the option to rebroadcast them. With dynamic fees enabled it might make sense

[2018-12-04 20:33] furiousxk opened #654 "Debian 9: ark-desktop-wallet (v2.0.0) is not working/functional"
### Steps to reproduce
1. Clean install Debian 9
2. Update system
3. install libudev-dev libusb-1.0-0-dev
4. Download Ark.Desktop-Wallet-amd64-2.0.0.deb
5. dpkg -i <package>
6. run ark-desktop-wallet

### Expected result
The wallet starts. If failed to start some output to stdout

### Actual result
Nothing happens

If i have forgotten any extra information or need to supply any additional informat

[2018-12-04 21:49] moazzamak opened #657 "Open in explorer link pointing to incorrect address for sender of incoming transactions"
**Describe the bug**
Trying to view address in external browser doesn't open correct address.

**To Reproduce**
1. View an incoming transaction's details in v2 wallet
2. Click on the "Open in Explorer" link next to the sender's address
3. It will open wallet owner's address instead of sender address

**Expected behavior**
Link should point to sender's address

**Screenshots**
![image](https://user

[2018-12-04 21:54] ItsANameToo commented on #657
Thanks, should be fixed in #658

[2018-12-05 08:32] reConNico commented on #634
I actually added my first ledger address as contact before - so that seems like the problem

[2018-12-05 11:35] #657 closed

[2018-12-05 11:41] dvdptr commented on #639
sure, there are different ways to do this.

personally I'm not sure if a custom theme is needed. looking at this from a UX perspective it seems to me that a given sound should be linked to a specific action. this gives a feedback/confirmation to the user resulting in positive UX.

In case the community votes for a »custom themed sound implementation« I'm ok with that and would offer to work on bui

[2018-12-05 11:46] j-a-m-l commented on #639
I'd say the the only important action that should have sound is receiving transactions because it occurs even when the user is on a different window/task.

More things that could have sounds:
 - When there is a network error
 - When the network is re-connected successfully

[2018-12-05 15:54] furiousxk commented on #654
I'll give it a spin in a few hours, currently in office.
Either way, if the binary should throw some output to stdout.

Will retest and report back by EOD GMT+1

[2018-12-05 16:00] alexbarnsley commented on #634
I will be fixing this so if it's a ledger, it disregards any other type of wallet stored. So if the ledger is a contact, it won't use that "wallet", but the actual ledger wallet from the device. Don't know if that makes sense 😂

**TL;DR** me fix so send shows even if added as contact too

[2018-12-05 16:10] alexbarnsley commented on #648
who is this "we" @ItsANameToo? :danstop:

[2018-12-05 16:57] #634 closed

[2018-12-05 17:00] #644 closed

[2018-12-05 17:22] furiousxk commented on #654
Could you share /etc/apt/sources.list

There is no such package as libappindicator7 according to my research
https://packages.debian.org/search?searchon=sourcenames&keywords=libappindicator

Same goes for pmisc

[2018-12-05 17:29] vmunich opened #662 "Transactions from AIP13 aren't filled in properly"
**Describe the bug**
I have the following AIP13 compliant link: https://jsfiddle.net/0msew8n3/

When I click on it and tell my browser to open it on Ark Desktop Wallet, the Transfer fields are filled in, but the `Next` button is still disabled, even after entering my passphrase:

![](https://i.gyazo.com/66c0b229fee734fb50c6603d9f70c994.png)

If I delete a character from the `Recipient` field and t

[2018-12-05 18:56] j-a-m-l commented on #654
@furiousxk try `libindicator7` and `psmisc`

[2018-12-05 19:13] furiousxk commented on #654
Does not work. No indicator of what went wrong or any debugging.
Any verbosity flag I can pass to ark-desktop-wallet or a log file or some sort?

Following packages are installed are installed on the system:
_Table below is output of dpkg-query -l <package>_

| Package | Version
|---|---
libappindicator1| 0.4.92-4
libappindicator3-1|0.4.92-4
libindicator3-7 |0.5.0-3+b1
libindicator7|0.5.0-3+b1
lib

[2018-12-05 19:31] furiousxk commented on #654
I'll have a look at the config and spin up a VM to set up the dev version some time this weekend.

I have another Debian 9 machine running the same kernel as you, i'll give that one a try as well and report back.

Thanks for the assistance so far.

[2018-12-05 19:41] j-a-m-l commented on #654
OK, I'll keep this issue open while waiting for your feedback.

[2018-12-05 21:17] j-a-m-l commented on #654
@furiousxk We've just published the `AppImage` version: https://github.com/ArkEcosystem/desktop-wallet/releases/tag/2.0.0

[2018-12-05 21:48] vmunich commented on #648
tfw you find out @alexbarnsley doesn't like you through github comments 😢

[2018-12-05 22:01] alexbarnsley commented on #648
only joking @vmunich :trollface:

[2018-12-06 08:53] furiousxk commented on #654
Hi, I didn't get around to testing it last night.

I'll test the new version on the 4.9.110-3 kernel tonight and check for 4.9.130-2 and the dev version tomorrow evening.

[2018-12-06 10:45] #648 closed

[2018-12-06 12:15] alexbarnsley commented on #630
Resolved in #650

[2018-12-06 12:15] #630 closed

[2018-12-06 12:46] #637 closed

[2018-12-06 12:47] ItsANameToo commented on #662
@alexbarnsley y u doing this issue :(

[2018-12-06 12:49] alexbarnsley commented on #662
beginning to regret starting it @ItsANameToo 😂

[2018-12-06 12:52] ItsANameToo commented on #662
isn't it as simple as doing a `touch()` on the input fields after they get filled @alexbarnsley ?

[2018-12-06 12:53] alexbarnsley commented on #662
Already tried on mounted but didn't work:
[code]

[2018-12-06 12:56] ItsANameToo commented on #662
try it after the fields get filled in when it handles the AIP13 stuff

[2018-12-06 12:58] alexbarnsley commented on #662
it is, since it's the data method that sets the fields:

![image](https://user-images.githubusercontent.com/8069294/49585572-a543fc80-f956-11e8-9fd1-62bfd6b6cf93.png)

schema is the data from the URI

[2018-12-06 12:59] ItsANameToo commented on #662
🤔

[2018-12-06 13:09] j-a-m-l commented on #654
OK, could you check both releases (`deb` and `AppImage`) and the development version?

[2018-12-06 13:10] alexbarnsley commented on #662
I got to leave now so you can have a go @ItsANameToo

[2018-12-06 13:45] ItsANameToo commented on #662
I can't get the link to open in the wallet, it always creates a new electron process so I can not do anything

[2018-12-06 13:52] ItsANameToo commented on #662
Nevermind, it linked with the old repo checkout and tried to launch that as the wallet. So I can take a look at it now :D

[2018-12-06 15:05] #662 closed

[2018-12-06 15:41] furiousxk commented on #654
Sure, will report back soon

[2018-12-06 21:17] alessiodf opened #673 "White screen when restarting wallet after setting an invalid seed server"
**Describe the bug**
The wallet will no longer open (gets stuck on a white screen) if you set the seed server to an invalid or unresponsive peer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Network Overview
2. Click on Ark
3. Change Seed Server to an invalid node e.g. http://8.8.8.8:4003
4. Save and restart wallet

**Expected behavior**
The wallet should still open but not connect

[2018-12-06 21:50] umhowdoidothis opened #674 "Change font colour."
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
The ability to change font colour. More specifically, to change the font to white so its easier to read in dark mode.

**Describe alternatives you've considered**
-

**Additional context**
-

[2018-12-06 21:53] umhowdoidothis opened #675 "Show the time of transactions"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Right now it only shows the date but I'd like it to show the time of the transaction as well.

**Describe alternatives you've considered**
-

**Additional context**
-

[2018-12-06 22:20] #632 closed

[2018-12-07 13:14] alexbarnsley commented on #673
I've made a change in PR #680. This doesn't directly fix the white screen on reload of an invalid peer. What it does is when changing the seed server for a network, it validates the server to make sure it can connect and it also makes sure it can do a status check on the node.

[2018-12-07 14:03] wownmedia opened #681 "Ledger error when opening in profile with regular wallets"
**Describe the bug**
When you open the Ledger in a profile that has regular wallets already and then try to sign a transaction with your Ledger it asks for a passphrase instead of a confirmation on the device. This does not happen on a profile with only the Ledger device.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a profile
2. Add a wallet with a passphrase
3. Connect Ledger
4. S

[2018-12-07 14:12] zillionn opened #682 "Send All"
Couple issues with the `Send All` switch when sending:
- When click it again/turn it off, the total amount stays. It should reset the amount.
- When the switch is ON and I change the amount, after clicking on the next field, the amount is changed to total amount. When change the amount, it should turn off the switch.

[2018-12-07 14:21] zillionn opened #683 "Recipient username"
**Is your feature request related to a problem? Please describe.**
How about after you insert the recipient, make a call to `https://explorer.ark.io/api/v2/delegates/{address}` and check if that address have a registered username/delegate and show that username below the recipient address?

Use case:
- I'm a new vendor and created a wallet. I'll immediately register a delegate/username. When peopl

[2018-12-07 14:34] zillionn commented on #645
Maybe change the fields bottom border in `Dark mode`, imo it's too light:

<img width="598" alt="screenshot 2018-12-07 at 16 28 41" src="https://user-images.githubusercontent.com/3462869/49653495-cc292e00-fa3d-11e8-8d94-1c64e2d85403.png">

[2018-12-07 15:55] #675 closed

[2018-12-07 15:58] alessiodf commented on #673
Won't this mean you still get a white screen if the peer is valid at the time you change the seed server but is down when you open the wallet?

[2018-12-07 16:01] alexbarnsley commented on #673
Yes it would. The PR I've opened doesn't address this area, which is why i've left the issue open.

[2018-12-07 16:01] alessiodf commented on #673
:danstop:

[2018-12-07 16:02] alexbarnsley commented on #673
:susp:

[2018-12-07 16:03] ItsANameToo commented on #673
:whalessio:

[2018-12-07 16:04] alexbarnsley commented on #673
🍿

[2018-12-07 16:04] alessiodf commented on #673
MODS

[2018-12-07 17:14] furiousxk commented on #654
.deb works fine on 4.9.130-2 after install packages mentioned above.
Will retest on older kernel soon, havent had a look at AppImage yet.

[2018-12-08 04:35] michaelthecryptoguy opened #685 "Desktop Wallet - Add the word "close" to start screen"
**Feature Request**
After a fresh install of the desktop wallet, on the title screen it says "Please take a few moments to read the next few screens for your own safety.
Your funds could be unrecoverable if you do not pay attention to these warnings."

**Solution I'd like**
Adding the word "close" would grab someone's attention a little more and make them more responsible that there funds could be

[2018-12-08 07:11] j-a-m-l commented on #685
Any other suggestion for those texts?

[2018-12-09 17:44] michaelthecryptoguy commented on #685
Not at this time. When I first read this, yesterday, I thought you were just asking if anybody else has any other suggestions. I know it's hard reviewing all of these, so any suggestions I see, I will add as one block, to save time.

[2018-12-09 19:44] ItsANameToo opened #691 "Insufficient balance not shown for tx types other than transfers"
**Describe the bug**

For tx types other than transfer (e.g. delegate registration) we don't have an `amount` input field and therefore don't show an `insufficient balance` error if the user has not enough funds to send the actual tx. Instead, you can send it and then it will be rejected due to insufficient balance

**To Reproduce**
Steps to reproduce the behavior:
1. Open a wallet without funds
2

[2018-12-10 12:32] #673 closed

[2018-12-10 12:43] #651 closed

[2018-12-10 20:51] #683 closed

[2018-12-10 21:22] #691 closed

[2018-12-12 10:14] alexbarnsley opened #716 "Implement new transaction notifications for Ledger"
**Describe the bug**
The "new transaction" notifications don't show for ledger wallets. This is because they're not standard wallets which are stored in the store. We need to find some way of storing the ["checkedAt"](https://github.com/ArkEcosystem/desktop-wallet/blob/develop/src/renderer/services/synchronizer/wallets.js#L152) value for ledgers so that they persist between loads.

[2018-12-12 15:23] zillionn opened #719 "Wallet scrolling"
When I scroll inside `Delegates` and then click `Transactions` tab, that page is also scrolled. You should probably set the scroll to 0 when change the tab.

[2018-12-12 17:32] #719 closed

[2018-12-13 09:23] zillionn opened #732 "Unconfirmed transaction"
**Is your feature request related to a problem? Please describe.**
How about a warning message when click `Send` and there are `unconfirmed` transactions?
Use case:
- I sent a tx with very low fee
- Wait 2-3 mins but still unconfirmed
- I guess it will never get forged and send another one with higher fee and it gets confirmed in 8s
- The first got forged after 8 mins

**Describe the solution you'

[2018-12-13 10:14] Nigui opened #733 "`peer: None` in Network menu"
**Platform (please complete the following information):**
 - OS: macos mojave
 - Version Desktop Wallet 2.0.0

**Describe the bug**
When starting wallet on mainnet (and devnet), the network menu (bottom/left) does not show the current peer IP or status connection.

**How to reproduce the bug**
1. Open desktop wallet 2.0.0
2. open network status menu (bottom/left)

**Expected behaviour**
Would be g

[2018-12-13 10:19] boldninja commented on #733
I think that was resolved and will be included in upcoming release of the wallet.

@alexbarnsley can you confirm?

[2018-12-13 11:24] #733 closed, assigned to nobody

[2018-12-13 17:03] kwan0xfff commented on #732
Similar situation to above:

- I sent a TX with lowest possible fee. (Not deliberately; saw it later.)
- Wait 45 minutes, has zero confirmations.
- Sent another with higher fee, which starts getting confirmations within a minute, and is well confirmed several minutes later.

11 hours after first TX was sent; it still has zero confirmations.  Would be nice to have a definite auto-cancellation if no

[2018-12-13 17:35] zillionn opened #738 "URI scheme"
**Is your feature request related to a problem? Please describe.**
When I click on a link starting with `ark:`, the wallet opens up and shows an error message:
`Select a wallet and open the URI again`

**Describe the solution you'd like**
Is it that hard to set that URI to some variable and show a message like `Please choose a wallet.`. Then when I choose a wallet just check if there is such varia

[2018-12-13 17:39] zillionn commented on #738
Btw I get that error message only if my wallet is already open, if it's closed and I click on such a link, the wallet opens up but doesn't show any message.

[2018-12-13 18:21] JeremiGendron opened #740 "The passphrase visibility button changes focus from the input field"
**Platform (please complete the following information):**
Independent

**Describe the bug**
When entering a passphrase manually, it is preferred to have the focus remain on the input field.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Import Wallet
2. Enter passphrase
3. Toggle visibility
4. Cursor no longer focused on input field

**Expected behaviour**
If the passphrase is

[2018-12-13 18:40] kalgoop commented on #738
I think that will come with Ark Pay

[2018-12-13 18:41] alexbarnsley commented on #738
It's not hard, it's just not been done yet.

[2018-12-13 18:41] dated commented on #740
Wouldn't it be better to reset the focus on the input regardless of validity?

[2018-12-13 18:42] kalgoop commented on #738
Maybe, simply we can store the uri till the user chooses the wallet and then automatically call the uri stored.

[2018-12-13 18:44] kalgoop commented on #738
@alexbarnsley I'll work on it

[2018-12-13 18:58] JeremiGendron commented on #740
@dated cool, wasn't aware of that. Will change.

[2018-12-13 19:01] dated commented on #740
To rephrase that: i wouldn't expect it to behave differently than that ;)

[2018-12-13 19:19] kalgoop commented on #738
@zillionn can you please check this out.
https://github.com/kalgoop/desktop-wallet/tree/patch-13
I think this should make it working. However, I was unable to test it.

When I click link starting with ark: nothing happens (even when the wallet is open)
Are you serving the application with 'yarn dev' or have you installed it ?

[2018-12-14 05:43] TrueKhaos opened #744 "Price not sorting on dashboard wallet 2"
**Platform (please complete the following information):**
 - OS: Ubuntu 16.04 LTS
 - Version Desktop Wallet 2.0.0

**Describe the bug**
A clear and concise description of what the bug is.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Open Ark Desktop Wallet
2 . Look at the price graph, there are 3 decreasing prices listed on the left
3. See error price #2 = price #3

**Expecte

[2018-12-14 09:09] j-a-m-l commented on #654
@furiousxk I'm going to close this issue, as it looks that there is at least 1 solution. If you think that something is missing, reopen it.

[2018-12-14 09:09] #654 closed

[2018-12-14 09:52] ItsANameToo commented on #744
@zillionn this is just a rounding issue. Likely the scale is something in the range of 0.279, 0.274, 0.269 and will show up as 0.28, 0.27, 0.27

[2018-12-14 13:15] Jarunik opened #748 "Option to disable the price chart"
**Is your feature request related to a problem? Please describe.**
The price chart is annoying for some. Allow to remove it in the settings.

**Describe the solution you'd like**
No more price chart in the wallet.

**Describe alternatives you've considered**
- Completely remove it.
- Option that allows to remove it.
- Option that allows to display it and off by default.

**Additional context**
Men

[2018-12-14 14:35] JeremiGendron commented on #732
@kwan0xfff the functionality is there and they do get greyed out eventually, it might be an issue with your app's state not being reloaded for 11 hours, though I'm not certain about that.

[2018-12-14 17:32] j-a-m-l commented on #744
This is fixed on #750: now it uses more decimals if necessary

[2018-12-14 17:32] #744 closed

[2018-12-14 20:02] JeremiGendron opened #752 "Images, Links and Buttons can be selected (highlight) and dragged."
**Is your feature request related to a problem? Please describe.**
Users might not expect images, buttons and navigation items to be draggable or highlightable in a desktop application.

**Describe the solution you'd like**
I would like the pieces of UI which are buttons, navigation items or images to not be draggable or selectable.

**Describe alternatives you've considered**
Messed with many dif

[2018-12-14 21:18] zillionn opened #754 "Changelly"
**Platform (please complete the following information):**
 - OS: macOs Mojave 10.14.1
 - Version: Desktop Wallet 2.1.0

**Describe the bug**
Not sure if I'm doing something wrong, but inside `Purchase ARK` when I click `EXCHANGE` a popup opens a webpage with text, just text:

<img width="942" alt="screenshot 2018-12-14 at 23 13 31" src="https://user-images.githubusercontent.com/3462869/50027776-17

[2018-12-14 21:23] zillionn opened #755 "Market chart"
So now the market chart is disabled by default? I like the chart, why disabled by default?

[2018-12-14 21:33] zillionn opened #756 "Wallet tabs"
**Platform (please complete the following information):**
 - OS: macOs Mojave 10.14.1
 - Version: Desktop Wallet 2.1.0

**Describe the bug**
Tabs `Sign` and `Purchase ARK` are missing when selecting contact first.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Go to `My contacts`
2. Select a contact
3. Change to some other wallet from the right side

**Screenshots**
<img width=

[2018-12-15 13:41] #755 closed

[2018-12-15 16:16] JamesBondsman opened #760 "Using Windows 7. Copy and paste funtion (ctrl+c / ctrl+v, etc.) works everywhere as usual except in Ark wallet v2.1.1"
**Platform (please complete the following information):**
 - OS: [e.g. Windows 10]
 - Version (e.g. Desktop Wallet 2.0.0)

**Describe the bug**
A clear and concise description of what the bug is.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you

[2018-12-15 16:59] #760 closed

[2018-12-15 20:40] vulet opened #764 "Second signature fee"
**Platform (please complete the following information):**
 - OS: Linux Mint 18.3 Cinnamon 64-Bit
 - Desktop Wallet 2.0.0

**Describe the bug**
When attempting to register a second signature, I'm able to set a dynamic fee specification but it reverts to  the static 5 ARK upon sending the transaction.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. 2nd passphrase
2. Copy passphras

[2018-12-15 20:47] zillionn opened #765 "2nd passphrase"
**Platform (please complete the following information):**
 - macOS Mojave 10.14.2
 - Desktop Wallet 2.1.0

**Describe the bug**
2 issues:
- There is no way to register a `2nd passphrase` for less than `5 ARK`
- When click `Back` on the last screen, `Next` doesn't work anymore

**Expected behaviour**
To send a tx with my custom fee.

**Screenshots**
<img width="693" alt="1" src="https://user-images

[2018-12-15 22:54] JeremiGendron opened #767 "Entire window scrollable when popover is scrolled out of view"
**Platform (please complete the following information):**
 - OS: Lubuntu 18.10 (QT)
 - Version: Develop

**Describe the bug**
When scrolling the popover out of view, the entire frame can be scrolled and leave a scroll-sized white area in the direction where the popover went.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Go to Wallet Transactions List
2. Hover on any field with

[2018-12-15 23:02] dated commented on #767
![scroll](https://user-images.githubusercontent.com/6547002/50048184-b8c53500-00c5-11e9-9998-be06fbfa8367.gif)

The tooltip should probably be dismissed upon scrolling.

[2018-12-15 23:45] JeremiGendron commented on #767
@dated good catch

[2018-12-16 00:30] JeremiGendron commented on #767
v-tooltip appends to `<body>` by default, which can be changed with `container: '__CSS_SELECTOR__'` in v-tooltip binding data. Also, `boundariesElement` might be of use.

[2018-12-16 10:31] Jarunik opened #769 "Can't add another Custom Network"
**Platform (please complete the following information):**
 - OS: Windows 10

**Describe the bug**
I can't add the Persona Network to the wallet.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Click Network Icon (Cloud)
2. Click Network Overview
3. Add a new network
4. Fill in name: Persona, Description Persona, Seed: http://89.40.7.63:4102
5. Button "Fetch" is still saying disa

[2018-12-16 10:34] #764 closed

[2018-12-16 12:55] ItsANameToo commented on #765
Fixed with #766

[2018-12-16 12:55] #765 closed

[2018-12-16 12:55] ItsANameToo commented on #629
Fixed by #761

[2018-12-16 12:55] #629 closed

[2018-12-16 17:01] Jarunik opened #773 "Devnet Peer: None"
**Platform (please complete the following information):**
 - OS: Windows 10

**Describe the bug**
Now that the mainnet peer works the devnet one is broken.

Kind of like #733 again but for devnet.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. click the Cloud
2. Peer: None

**Expected behaviour**
See the connected devnet peer.

**Screenshots**
-

**Additional context**
-

[2018-12-16 17:02] #769 closed

[2018-12-16 17:47] ItsANameToo commented on #773
I can't reproduce getting `None` as a peer, but I can confirm that I am unable to change peers on devnet by using the refresh button (or the dropdown). It might have to do with an update to core that is only available on devnet at the moment 🤔

[2018-12-17 09:46] skeuo opened #774 "Delegate registration tx not showing as pending tx when unconfirmed"
**Platform (please complete the following information):**
 - OS: [e.g. Windows 10]
 - Version (e.g. Desktop Wallet 2.1.1)

Description
Registering delegate with low fee results in no prompt unless confirmed. Will not show as unconfirmed pending transaction.

Reproduction
Steps to reproduce the behaviour:
1. Register Delegate with fee of 0.0001 (with a wallet that has balance)
2. Wait for pending t

[2018-12-17 09:57] zillionn commented on #774
I guess your fee is too low and the relay is not accepting it at all.

[2018-12-17 09:58] zillionn commented on #774
You can check the API after sending the tx:
http://RELAY_IP:4003/api/v2/transactions/unconfirmed

[2018-12-17 10:58] zillionn opened #775 "High CPU usage"
**Platform (please complete the following information):**
 - macOS Mojave 10.14.2
 - Dekstop Wallet 2.1.0 & 2.0.0

**Describe the bug**
When on the Home/Last transactions page, CPU load is very high and the app is unresponsive. I have 6 wallets and 9 contacts.

**Video**
https://streamable.com/4or0l

[2018-12-17 14:35] dukepath opened #777 "creating my wallet"
**Platform (please complete the following information):**
 - OS: [e.g. Windows 10]
 - Version (e.g. Desktop Wallet 2.1.0)

**Describe the bug**
I cannot finish the create a wallet process

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. I get through the first few steps
2. I get to step 4...encryption
3. I enter in a new password
4. page freezes up

**Expected behaviour**
I've re

[2018-12-17 20:30] j-a-m-l commented on #775
Thanks for creating the issue.

Some questions?
 - Does this problem occur since the beginning or the performance start to degrade with time?
 - Are you using the Ledger?

[2018-12-17 21:53] TwerkingGorilla opened #781 "Aggregate vote rewards, statistics dashboard"
**Problem:**
Since I like to support multiple delegates for their good work for the ecosystem, it has become difficult to track the voting rewards. Also I would be interested in statistics showing the rewards in comparison per wallet or delegate.

** Solution:**
I would like to have a dashboard in the desktop wallet, that can show me per time frame per wallet (or voted delegate) what the return is

[2018-12-17 22:02] alexbarnsley commented on #781
Thank you for your issue report. We won't be including any highlighting of staking rewards from delegates within the wallet, as that implies it's part of the network whereas it's actually the delegates who provide that service to their voters. It may be possible to do in the future once we've figured out and implemented the plugin system, where third party plugins can be used.

[2018-12-17 22:02] j-a-m-l commented on #781
Sorry, but the rewards are something that delegates are giving to their voters that it's outside our hands. We, as Ark Ecosystem, want to be clearly not tagged as a security, so we would never support this kind of features in our products.

In the near future we will add other features, such as transaction filtering, which could be useful for a lot of cases, so maybe you could use them to accompli

[2018-12-17 22:02] #781 closed

[2018-12-17 22:23] alexbarnsley commented on #777
Hi @dukepath, could I just confirm that you're running Windows 10 on v2.1.0? That's based on you editing the "e.g." at the top of your issue. Thanks

[2018-12-17 22:41] j-a-m-l commented on #777
@dukepath I've tried 2.1.0 on Windows 10 and it worked flawlessly. Would you mind to add more context:
 - Did you have previous wallets? how many?
 - When you say "page freezes up", can you click on the "Next" button of the step "4. Encryption" or is it after that, when clicking "Done" on the last step ("5. Confirmation")?

[2018-12-17 22:49] j-a-m-l commented on #773
I've been able to reproduce it on Windows 10 (wallet 2.1.0).

[2018-12-18 00:05] dukepath commented on #777
Yes, I am running windows 10 on v2.1.0 and I've never had an ARK wallet before, I am trying to set one up for the first time.
 After I complete step 4 (Encryption) I hit the next button and nothing happens, the button seems to depress normally but nothing comes after that, I never get to the next step (5), I even tried clearing my cache and clearing my data on the ARK help tab and still does the s

[2018-12-18 00:32] j-a-m-l commented on #777
@dukepath has you tried different passwords? could you try "example1+" (without quotes)?

[2018-12-18 06:10] TwerkingGorilla commented on #781
Wow you guys are quick! Totally understandable. Hope the csv export functionality will return for the home page view too, so that you can export for all the wallets at once, that would help too.

All the best!

[2018-12-18 10:39] luciorubeens commented on #754
It seems that Changelly did not allow purchases with fiat direct from the widget, as this behavior happens on [their own website](https://changelly.com/payment-widget).

[2018-12-18 10:48] dated commented on #754
Definitely on Changellys side. Strangely enough some USD/Crypto pairings work as expected.

[2018-12-18 13:18] j-a-m-l commented on #775
@zillionn We want to revamp the way that the wallet and transaction data is fetched and synchronized, but we need to add several changes to core before that. I expect that those changes will resolve this issue.

[2018-12-18 16:39] wownmedia commented on #681
worked like a charm. thanks :)

On Tue, Dec 18, 2018, 14:29 Juan <notifications@github.com wrote:

[2018-12-18 21:11] vmunich opened #785 "Ability to save and resend unconfirmed transactions offline"
**Describe the solution you'd like**
Sometimes the wallet can connect to a bad peer, and transactions stay unconfirmed for a long time. Naturally, most people will just send another transaction, but that could result in 2 different transactions being sent.

It would be cool if we could save transactions after sending them, so in the situation I described above, I could just save it, connect to ano

[2018-12-18 21:18] alexbarnsley commented on #785
This should already be possible. When a transaction is unconfirmed for 45 minutes, it will become "expired". That expired transaction when clicked allows for resending on whichever peer you're connected to:

![image](https://user-images.githubusercontent.com/8069294/50183563-6759b780-030a-11e9-8b2e-cc73023fcb66.png)

[2018-12-18 21:36] vmunich commented on #785
I understand that this option shows up after 45 minutes, but what do you think about reducing that 45 minutes threshold to something quicker? Or a message like `You'll be able to resend this transaction after X minutes`. Since there's no feedback at this moment, I think most people will end up sending a second transaction.

[2018-12-18 21:48] zillionn commented on #785
Hm, it looks like it'd be a very nice feature to be able to `DELETE` a transaction from the pool. Send some signed message with the `DELETE` request...

[2018-12-18 22:21] dukepath commented on #777
issue fixed.... my passphrase had quotations in it, I created a new passphrase without it and it went through just fine, thanks for your help

[2018-12-19 01:03] j-a-m-l commented on #777
@dukepath which quotates were you using: " ' ` or other?

[2018-12-19 11:14] dukepath commented on #777
“before and after my password” like that

From: Juan [mailto:notifications@github.com]
Sent: Tuesday, December 18, 2018 8:04 PM
To: ArkEcosystem/desktop-wallet
Cc: dukepath; Mention
Subject: Re: [ArkEcosystem/desktop-wallet] creating my wallet (#777)

@dukepath <https://github.com/dukepath>  which quotates were you using: " ' ` or other?

—
You are receiving this because you were mentioned.
Reply

[2018-12-19 11:34] j-a-m-l commented on #777
Thank you.

I've tried it and it didn't produced any strange behaviour on Windows 10 or Ubuntu 18.04, so I'm going to close this issue.

[2018-12-19 11:34] #777 closed

[2018-12-20 05:35] michaelthecryptoguy opened #797 "Allow using the network icon as avatar or something similar"
**Feature Request**

**Solution i'd like**
Instead of an avatar, place the ARK Tokens logo or a custom picture.

[2018-12-20 05:38] michaelthecryptoguy opened #798 "Added Wallets seen as compact cards"
**Feature Request**
Added wallets are seen as compact cards

**Solution i'd like**
The ability to see the wallets as a list, rather than compact cards

[2018-12-20 05:40] michaelthecryptoguy opened #799 "Add ability to see more letters when naming wallets"
**Feature Request**
When you give your wallet a name, you can only see 7 letters in the right navbar.
**Solution i'd like**
Add ability to see more letters/naming wallet

[2018-12-20 05:49] michaelthecryptoguy opened #800 "Main Screen Arkio emblem create/import wallets"
**Feature Request**
If you click the ARKio emblem on the left, it says create or import wallet on the top right.
But when I click the wallet, under the ARKio emblem, on the right there are two emblems, One is a + sign to create a wallet, the other is a (refresh sign) to import a wallet
**Describe the solution you'd like**
No solution at this time
**Additional context**
I think this was a "space" i

[2018-12-20 05:51] michaelthecryptoguy opened #801 "Idea for Feature Request on Announcements Tab"
**Feature Request**
After I have cycled through, all of the announcements (they have been clicked on with the (X), enable some type of recycle or re-sort of the announcements. Where the announcement will re-show/re-appear.

[2018-12-20 05:53] michaelthecryptoguy opened #802 "Announcements Tab"
**Feature Request**
Instead of the red dot, perhaps have an exclamation mark as a notification for news.

[2018-12-20 05:55] michaelthecryptoguy opened #803 "Delegate Voting easier for "Outside 51""
**Feature Request**
An easier method to find/vote for someone outside the 51 delegates
**Describe the solution you'd like**
No Alternative or Solution at this time

[2018-12-20 05:59] michaelthecryptoguy opened #804 "Increase Maximum of 50 tx’s per page"
**Feature**
I would like to see an additional last transactions tab. As of now, I can only see the last (50) transactions

**Describe the solution you'd like**
On the wallet, where it shows last transactions. Add a row tab, to enable viewing more of the (last transactions)

[2018-12-20 06:01] michaelthecryptoguy opened #805 "Feature Request for Low Vision Population"
**Is your feature request related to a problem? Please describe.**
Design Solutions/features for people that have vision impairment, low vision, are visually impaired, or suffer from complete vision lost. Including, color vision deficiency (the inability to distinguish certain shades of color)

**Describe the solution you'd like**
Instead of color to determine hover states (onFocus or onHover even

[2018-12-20 06:04] michaelthecryptoguy opened #806 "Difficult having to click to see what fee is to send transaction"
**Is your feature request related to a problem? Please describe.**
I have to click and open a pop-up to see what fee and other details are going to be to send transaction

**Describe the solution you'd like**
Add a pop up as you scroll lower toward minimum fees to prompt if fees at your selected value have been accepted/will be accepted

[2018-12-20 06:06] michaelthecryptoguy opened #807 "Add delegate toggleable monitor"
Add a delegate monitor you can toggle on

No solution or alternative at this time

[2018-12-20 06:07] michaelthecryptoguy opened #808 "Change color scheme. Current color scheme makes it difficult to read."
**Is your feature request related to a problem? Please describe.**
Color scheme is somewhat difficult to read

**Describe the solution you'd like**
Change the color scheme. Current color scheme makes it difficult to read.

**Describe alternatives you've considered**
No alternatives, yet

[2018-12-20 06:09] michaelthecryptoguy opened #809 "Simplicity is gone with new wallet"
**Is your feature request related to a problem? Please describe.**

Simplicity is gone with the new wallet. Create a second version desktop wallet, without current wallet design added features. Call it Ark-Lite Wallet. A simplified version of the Ark.io Desktop Wallet.

I know this opens another can of worms, with the newest version being more newbie suitable But we must balance the cater of featu

[2018-12-20 06:12] michaelthecryptoguy opened #810 "Enable CSV export"
**Is your feature request related to a problem? Please describe.**
There is no CSV export

**Describe the solution you'd like**
Add ability to CSV export

[2018-12-20 06:13] michaelthecryptoguy opened #811 "Feature re-enable"
**Is your feature request related to a problem? Please describe.**

Feature Reenable - I miss being able to view any other wallet address in the desktop wallet by clicking on someone's address, versus it always having to open in the explorer now
I think the reason Arkio done this was to relieve a conflict of interest with the wallet and the block explorer.

[2018-12-20 06:15] michaelthecryptoguy opened #812 "Plug in system with the ability to add Bitcoin or Ethereum to the wallet"
**Feature Request**

Plug in system with the ability to add Bitcoin or Ethereum to the wallet

[2018-12-20 06:16] dated commented on #811
See #793

[2018-12-20 06:17] michaelthecryptoguy opened #813 "Adding networks may seem to complicated to beginner"
**Feature Request**
Adding networks may seem to complicated to beginner

**Describe the solution you'd like**
Solution 1 – Add an “ARK” link that is adding the network

**Describe alternatives you've considered**
Have the networks in a list, where user can push a button for additional networks

[2018-12-20 07:01] alexbarnsley commented on #801
Clicking "X" on an announcement moves it to the bottom. Just scroll down and you can re-read

[2018-12-20 07:01] #801 closed

[2018-12-20 07:05] alexbarnsley commented on #812
There will be a plugin system and that's one of our major additions which will be next, once we've figured out how to do it securely. Whether it will be possible to add non-ARK chains won't be part of how we decide to write the plugin system and we won't specifically think about non-ARK chains integrations. If someone is able to write a plugin to do what you're asking, it shouldn't be included as

[2018-12-20 07:05] #812 closed

[2018-12-20 07:07] alexbarnsley commented on #809
IF we did another lite version, it wouldn't be part of this codebase, so this issue doesn't live here imo

[2018-12-20 07:07] #809 closed

[2018-12-20 07:14] alexbarnsley commented on #807
You asked for simplicity in one issue but then suggest this. We're not trying to recreate the explorer within the wallet. Explorer is an alternative

[2018-12-20 07:15] alexbarnsley commented on #806
Your solution doesn't make sense. You're saying you have to open a popup to see the fees, and your solution is to open a popup?

[2018-12-20 07:17] alexbarnsley commented on #802
What is the difference?

[2018-12-20 07:48] dated commented on #802
The red dot is subtle enough to be noticed and not to be disturbing, an exclamation mark would be too big of an eye catcher for people not using the announcement tab.

[2018-12-20 08:23] alexbarnsley commented on #802
Yes I agree. An exclamation mark implies it **needs** to be read

[2018-12-20 08:23] #802 closed

[2018-12-20 10:02] zillionn commented on #797
Yes, you already have the logo of the network, you should use that one for the profiles.

[2018-12-20 10:10] j-a-m-l commented on #797
You could have more than 1 profile for the same network. For instance, I could have 1 profile for my company's ARKs, other for my personal ARKs and other for my retirements.

So, I don't see any reason to remove them.

[2018-12-20 17:07] j-a-m-l commented on #805
This is an interesting idea that we should accomplish somhow, but we would need to add or improve other things first, so it may be delayed during some weeks.

[2018-12-20 17:10] j-a-m-l commented on #808
The dark theme is hard to read on displays with low brightness, but the light theme should be enough. Do you have that problem on the light theme too?

[2018-12-20 17:21] j-a-m-l commented on #810
This should be added in a way, generic enough, that could work well with future features, such as tagging and filtering.

[2018-12-20 17:23] j-a-m-l commented on #813
Adding networks is something that beginners don't do.

Maybe changing the text form "Network overview" to "My networks" is clearer?

[2018-12-20 17:25] j-a-m-l commented on #804
You can use the button on the lower right corner to go to the next page.

[2018-12-20 17:25] #804 closed

[2018-12-20 17:39] zillionn commented on #797
@j-a-m-l In that case you'll use different profile names not avatars. IMO the avatar should be the network logo. Every bridged chain will add their logo and it'll be 100 times easier to distinguish networks than some random avatars.

[2018-12-20 18:04] j-a-m-l commented on #797
We are thinking about several alternatives:
  1. Using the first character of the profile name as the avatar
  2. Custom avatars

Depending on how we implement option 1 and 2, we might have a way to choose the network as avatar too, although, as I explained, the problem with that is having several profiles for the same network.

A solution would be adding the token circle that is now on the wallet

[2018-12-20 20:09] zillionn commented on #797
I would really love to be able to use the network logo as avatar.

[2018-12-20 20:38] michaelthecryptoguy commented on #806
This was a mistaken issue that I have closed

[2018-12-20 20:38] michaelthecryptoguy commented on #806
This was a mistaken issue that I have closed

[2018-12-20 20:40] michaelthecryptoguy commented on #813
I like that idea.

[2018-12-20 20:43] michaelthecryptoguy commented on #808
The light mode is harder imo

[2018-12-20 20:43] #807 closed

[2018-12-20 20:44] michaelthecryptoguy commented on #805
Alright, I understand

[2018-12-20 20:50] j-a-m-l commented on #797
OK, I've renamed the issue to make it clear what could be implemented.

[2018-12-20 21:03] j-a-m-l commented on #805
Apart from the other reason, these changes involve rethinking the design, which is going to delay it further.

[2018-12-21 08:44] #774 closed

[2018-12-21 09:05] #811 closed

[2018-12-21 10:10] alexbarnsley commented on #738
Resolved is #814

[2018-12-21 10:10] #738 closed

[2018-12-21 12:06] zillionn opened #828 "Development: Node version"
README says:

There are certain packages (such as the ledger HID packages) which do not work on Node 10.
To download Node 9, head over to here

Btw I'm using Node `v11.1.0` and everything is working, even the Ledger...

[2018-12-21 13:14] alexbarnsley commented on #828
interesting 🤔

[2018-12-21 13:15] alexbarnsley commented on #813
resolved in #821

[2018-12-21 13:15] #813 closed

[2018-12-21 13:23] #800 closed

[2018-12-21 13:55] KentHampton opened #830 "Second Passphrase Creation Missing"
**Platform (please complete the following information):**

 - Version (e.g. Desktop Wallet 2.1.0)

**Describe the bug**
I'm sorry I cannot reproduce the error, if it truly is one.
When setting up my wallet I was very careful to record the twelve word pass phrase. After dismissing that I believe I was presented the opportunity to encrypt the passphrase, and it looked to be optional. I chose not to

[2018-12-21 14:00] dated commented on #830
For starters I would confirm that every word is spelled correctly, the word list can be found here https://github.com/bitcoin/bips/blob/master/bip-0039/english.txt

If all words check out, make sure you are typing in the passphrase as follows (the spaces are important)

`word1 word2 ... word12`

Maybe you wrote the words down in the wrong order? I believe they are presented to you in a grid layout

[2018-12-21 14:40] KentHampton commented on #830
Edgar,
 
 
Thank you for the word list. I was typing "identity" rather than "indentify".
 
I guess was not as careful as I thought. I appreciate your help.
 
Have a Merry Christmas!
 
 

Sincerely, Kent Hampton
President
The Sword of St. George, Inc.785-410-1373
 
 

 
 
 
 
 

-----Original Message-----From: "Edgar Goetzendorff" <notifications@github.com>Sent: Friday, December 21, 2018 8:00amTo:

[2018-12-21 14:57] dated commented on #830
Glad you got it figured out!

Merry Christmas from _not yet a delegate [dated](https://arkdelegates.io/delegate/dated/)_

[2018-12-21 18:38] moazzamak opened #834 "Ark pay doesn't create transaction window on ubuntu"
**Platform (please complete the following information):**
 - OS: Ubuntu 16.04
 - Version: Desktop Wallet 2.1.1

**Describe the bug**
Using the pay now button on ark pay opens/focuses the wallet but doesn't create the transaction window.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Install latest wallet v2.1.1
2. go to https://arkecosystem.github.io/pay-demo-vue/
3. click on p

[2018-12-21 19:02] #830 closed

[2018-12-21 19:31] j-a-m-l commented on #834
I've tried on Kubuntu 18.10 and it ask to open the wallet, but, after after opening it, the wallet doesn't show anything related to the transaction.

[2018-12-22 05:33] JeremiGendron commented on #828
Yeah, all is good with node 10 too. I had issues with npm install, which doesn't work. It'll compile though, but there's an error very early after electron window launch.

[2018-12-22 05:33] JeremiGendron commented on #808
I feel terrible messing with the Eye of Oleg.

[2018-12-22 09:38] zillionn opened #842 "Transactions are sent to different peer"
**Platform (please complete the following information):**
 - macOS Mojave 10.14.2
 - Desktop Wallet 2.1.1

**Describe the bug**
I'm using custom peer `95.179.150.18:4003` and I'm pulling the data from it, but when I send a tx, it is sent to a different peer `167.114.29.34:4003`:

<img width="846" alt="1" src="https://user-images.githubusercontent.com/3462869/50372772-5bf1df00-05dd-11e9-9a7b-ec2795

[2018-12-22 10:02] umhowdoidothis opened #843 "Wallet Not Updating Correct Ark Amount"
**Platform (please complete the following information):**
 - OS: Mac Sierra 10.12.6
 - Version: Desktop Wallet 2.1.1

**Describe the bug**
The Ark amounts are not updating even after sending a transaction out and is stuck at a fixed amount. This is with a profile that has both ledger and normal passphrase wallets. I've created a new profile without any existing passphrase wallets and the ledger wa

[2018-12-22 10:07] umhowdoidothis commented on #798
Second this.

[2018-12-22 10:42] dated commented on #798
FYI i am working on this

[2018-12-22 11:17] dated commented on #798
![image](https://user-images.githubusercontent.com/6547002/50373711-9494b700-05e3-11e9-81cd-26fbc279cacb.png)

WIP obviously.

[2018-12-22 11:56] zillionn commented on #798
@dated Looks beautiful!

Can you also add a search field in the top right corner which will filter the results onkeyup/down? Same goes for the contacts.

[2018-12-22 11:59] #834 closed

[2018-12-22 16:28] JeremiGendron opened #844 "Better development docs (help wanted)"
The current desktop-wallet docs are for the old version.

I'm trying to collect a list of requirements for each platform, so far:
 - Debian: build-essential, libusb-1.0-0-dev, libudev-dev
 - OS X: xcode-select (command line tools) - tested to work with xcode installed, not sure standalone
 - Windows: Python 2.7, Visual Studio 2017

[2018-12-22 16:36] JeremiGendron commented on #844
Also, a list of Authors

[2018-12-22 16:54] JeremiGendron commented on #844
What the stack is (Electron, VueJS, TailwindCSS...?)

[2018-12-22 17:30] JeremiGendron commented on #844
https://github.com/ArkEcosystem/docs/pull/191

[2018-12-22 17:30] #844 closed

[2018-12-23 06:18] kalgoop commented on #803
We can put up a input field in some modal where user can enter name of delegate he wants to vote (like it was in old version of desktop wallet)

[2018-12-23 21:47] zillionn opened #855 "Arktoshi"
Guys do you believe we should show the amount/fee with 8 decimal places all the time? For example:
`Ѧ0.00765`
to become
`Ѧ0.00765000`

I have a Core PR about this: https://github.com/ArkEcosystem/core/pull/1900

[2018-12-23 21:59] JeremiGendron opened #856 "Can't slide TX fee"
**Platform (please complete the following information):**
 - OS: Lubuntu
- Version 18.10

**Describe the bug**
The slider is unresponsive. Console shows an error.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Go to send a transaction
2. Click on the slider
3. Drag sideways
4. Doesn't move

**Expected behaviour**
Being able to slide the fee up and down

**Screenshots**
![image]

[2018-12-23 22:10] JeremiGendron commented on #856
The other transaction types seem to work well.

[2018-12-23 22:14] dated commented on #856
Can't reproduce on macOS.

[2018-12-23 22:43] JeremiGendron commented on #856
Alright, I think it might be an issue with my profile configuration. This was on an account with balance, registered as delegate on devnet. I will try to reset data and see what happens.

[2018-12-23 23:31] JeremiGendron commented on #856
Yes, the message also says `the minimum fee is DARK 1.0` OR `the maximum fee is DARK 0.10` (if the slider is at max, it says minimum, and the opposite for minimum.

[2018-12-23 23:34] JeremiGendron commented on #856
When at the minimum location (can only get there by clicking on `Minimum` button, it days that:
![image](https://user-images.githubusercontent.com/23587429/50388341-3948ee80-06e1-11e9-94ba-efb86fb82e61.png)

When clicking on any button but the `Advanced`, it says that:
![image](https://user-images.githubusercontent.com/23587429/50388345-52ea3600-06e1-11e9-8adb-20fd8eec9ac0.png)

If clicked on `Adv

[2018-12-24 07:48] zillionn commented on #856
What's your peer IP when you experience this issue? Does changing peer resolves it?

[2018-12-24 08:35] TwerkingGorilla commented on #810
Also it should work for a whole profile. So instead of having to export one wallet at a time, I would like also to be able to export the transactions of all the wallets in a profile, in one go.

[2018-12-24 10:17] michaelthecryptoguy commented on #806
Ability to show the minimum accepted transaction fee on the network, within the wallet.

[2018-12-24 11:54] Litom opened #861 "Avatar/Profile removal option"
It should be possible to remove the avatars. I don't want to see some ugly face in the bottom left corner of my wallet or anywhere else where it appears. Actually I don't even want those profiles.

There should be the option to just login using a private key/passphrase and then accessing the wallet without those features. And there should be the option to set a custom avatar or remove the standard

[2018-12-24 12:13] dated commented on #861
I highly disagree with what you say about the profiles. Imho they are an enhancement in every way. The old wallet did not allow you to logically separate addresses of the same network, they were all grouped under the same network. Now i can have my private addresses completely separated from the addresses used for my business or side projects and so on.

[2018-12-24 12:17] Litom commented on #861
They are maybe an enhancement for you but not for me. I just want a simple functioning wallet without advanced and irritating features like having multiple addresses in profiles or profiles in general. Maybe its an enhancement for you in every way but not for me because I don't need the feature. Thats why I suggested this to have just the simple functionality of a classic wallet like it was in the

[2018-12-24 12:55] zillionn commented on #861
@Litom It's not possible to please 100% of the users. IMO most users, like me, like the new profiles and also this is the team's vision. If you don't like it/need a simple solution, just use the explorer:
https://explorer.ark.io/

[2018-12-24 13:02] zillionn commented on #861
Maybe a solution could be a default `ARK Mainnet` profile when you install the app. So you just add your wallet. And if you don't like the default settings you can always edit the profile.

[2018-12-24 13:09] Litom commented on #861
Why should I use the explorer? The explorer is not a wallet.

[2018-12-24 15:05] JeremiGendron commented on #856
All the 167.* won't work.

[2018-12-24 16:13] roleerob opened #863 "Version 2.1.1 SHA256 Checksum for 64-bit Windows"
**Platform (please complete the following information):**
 - OS: [e.g. Windows 10]
 - Version (e.g. Desktop Wallet 2.0.0)

**Describe the bug**
A clear and concise description of what the bug is.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you

[2018-12-24 16:13] zillionn commented on #856
Does changing the peer resolves your problem?

[2018-12-24 16:16] JeremiGendron commented on #856
not at all from what I can tell, neither does changing npm version, yarn cache clean, git clone new repo, reset data.

[2018-12-24 16:34] zillionn commented on #856
Oh, you're using the development version? Do you experience the same issue with the production? https://github.com/ArkEcosystem/desktop-wallet/releases

[2018-12-24 18:01] JeremiGendron commented on #856
I've been using the development branch for the whole week, only had issues after rebasing yesterday at around 2pm EST IIRC. Release works, of course.

[2018-12-25 04:21] galperins4 opened #864 "Network Selection (Spacing Issues)"
**Platform (please complete the following information):**
 - OS: Windows 10
 - Version Desktop Wallet 2.1.1)

**Describe the bug**
Spacing on the selection screen for networks seems to be static and doesn't take into account characters for custom networks that have been named. Due to this networks overlap each other in the selection screen.

**How to reproduce the bug**
Steps to reproduce the beha

[2018-12-25 07:05] EMEOFA44 opened #865 "I juist created a wallet an"
**Platform (please complete the following information):**
 - OS: [e.g. Windows 10]
 - Version (e.g. Desktop Wallet 2.0.0)

**Describe the bug**
A clear and concise description of what the bug is.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you

[2018-12-25 07:05] EMEOFA44 opened #866 "I juist created a wallet an"
**Platform (please complete the following information):**
 - OS: [e.g. Windows 10]
 - Version (e.g. Desktop Wallet 2.0.0)

**Describe the bug**
A clear and concise description of what the bug is.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you

[2018-12-25 21:18] ItsANameToo commented on #866
Please specify your exact issue by following the template

[2018-12-25 21:18] #866 closed

[2018-12-25 21:18] #865 closed

[2018-12-26 07:45] #855 closed

[2018-12-26 11:00] #864 closed

[2018-12-26 15:57] j-a-m-l commented on #861
We are going to support custom avatars. When that is added, you could use the wallet with 1 profile, with an empty avatar.

[2018-12-26 15:57] #861 closed

[2018-12-26 17:37] JeremiGendron opened #871 "The "Read more" links are blocks, making the whole line clickable"
**Describe the bug**
On the recent news tab, every news article has a "Read more" link, but the `<a>` tag has the `block` style, making the whole line clickable.

**Expected behaviour**
Only the highlighted text is clickable. This is a small but expected detail.

[2018-12-27 05:32] michaelthecryptoguy opened #873 "Desktop Wallet Line Error"
**Platform (please complete the following information):**
Windows 7

**Describe the bug**
The red arrows show the error. The yellow arrow shows how the other two lines, should show.
**How to reproduce the bug**
Create a new wallet address
![desktop_wallet_line_error](https://user-images.githubusercontent.com/24502401/50467018-cf457900-096e-11e9-9339-b955cefad143.jpg)

[2018-12-27 05:33] michaelthecryptoguy commented on #873
This could be an error with my graphics card. My font sometimes doesn't show correctly on my tv.

[2018-12-27 05:44] michaelthecryptoguy opened #874 "Desktop Wallet no hover on refresh wallet creation"
**Platform (please complete the following information):**
Windows 7

**Describe the bug**
The red arrows shows, the hover option does not work. The color stays the same when you move your mouse over that area.
**How to reproduce the bug**
Steps to reproduce the behaviour:
Create a new wallet

**Expected behaviour**
The color should change, showing the mouse is hovering over the refresh wallet addr

[2018-12-27 15:13] JeremiGendron opened #875 "Hong Kong Dollar symbol configured as British Pound"
**Describe the bug**
https://github.com/ArkEcosystem/desktop-wallet/blob/develop/config/index.js#L74

**Expected behaviour**
The HKD's symbol is HK$

[2018-12-27 16:52] #875 closed

[2018-12-28 05:11] #873 closed

[2018-12-28 11:36] alexbarnsley opened #879 "Ledger Passphrase required & duplicate wallet in wallet list"
Reported by @alessiodf (fun)

**Platform (please complete the following information):**
 - OS: macOS
 - Version 2.1.1

**Describe the bug**
When there's a wallet imported through address-only import, it shows on the wallet list. If this is a ledger wallet and the ledger device is plugged in, it shows the wallet twice in the wallet list. It also seems to request a passphrase when trying to send fro

[2018-12-29 08:53] zillionn opened #886 "URL scheme"
OS: macOS Mojave 10.14.2

I've been experiencing this issue for a long time but forgot to report it.

Not sure if the problem is with the Ark app/Electron generally or the Persona version, but when I open the Persona Desktop Wallet v1.5.5 it removes Ark app as the default app for `ark:` URLs. I even tried reinstalling the Persona app but no luck.

So this is how it looks if the last opened app is

[2018-12-29 09:53] alessiodf commented on #879
Also worth mentioning that the ledger wallet's name takes priority over the address-only wallet's name and consequently both wallets get renamed to the ledger wallet's name when it's plugged in.

[2018-12-29 18:31] ckhatri opened #887 "QRScanner Can't Exit"
**Platform (please complete the following information):**
 - OS: Mac OS
 - Version: Desktop Wallet 2.1.1

**Describe the bug**
Clicking on QR Scanner, which then prompts allowing the program to use the system camera. I clicked no, which made the screen stuck.  The QR Scanner box had no X to press and there is no error message. You also can't click outside of the dialog to get out of the error. Qui

[2018-12-29 20:47] doubled1c3 commented on #797
I think the issue that is attempting to show through here is a "profile" is tied to exactly one network. However, as the profile is a person or business, that person or business may be using multiple networks. This is why the profiles as people aren't making too much sense as it stands now.

Profiles are useful and important though, and should remain. In desktop wallet, you may create a profile "B

[2018-12-29 20:53] doubled1c3 commented on #808
I too trust Oleg

[2018-12-29 21:04] doubled1c3 commented on #798
Looks good

[2018-12-29 21:06] doubled1c3 commented on #785
I agree with Zillionn, that would be nice, although it sounds like a new transaction type- might be possible to work into Core 2.1

[2018-12-29 21:13] doubled1c3 commented on #674
The specific Hex color in dark mode appears to be worked into a lot of elements, not just text. It would take longer than a moment to change all of the elements in question to white as well. However, the end result may not be desirable. With every text and icon white, it may all prove distracting as the eye will want to look at every white thing, instead of just letting your gaze keep your eye in

[2018-12-29 21:55] doubled1c3 opened #889 "Intro Screens > Welcome"
The background image featuring the curvy gray lines is insufficient resolution for hi-res (4k) displays and shows aliasing

[2018-12-29 22:00] doubled1c3 opened #890 "Intro Screens > Your Power"
1. The background image featuring the blue cubes is insufficient resolution for hi-res (4k) displays and shows aliasing.

2. Replace "private key" with "passphrase"

3. Insert ARK.io URL in top left

[2018-12-29 22:03] doubled1c3 commented on #889
Making all in one issue, closing.

[2018-12-29 22:03] #889 closed

[2018-12-29 22:03] doubled1c3 commented on #890
Making all in one issue, closing.

[2018-12-29 22:03] #890 closed

[2018-12-29 22:57] doubled1c3 opened #891 "Intro Screens Adjustments"
**The following issue has been edited to show what has been handled in 2.2.0 release, the completed items are now crossed out**

**General**
1. Consider placing the web URL ARK.io somewhere throughout the intro screens.
2. The background image featuring the blue cubes is insufficient resolution for hi-res (4k) displays and shows aliasing.
3. On 4K displays, it's apparent that the Back and Next but

[2018-12-30 00:34] doubled1c3 opened #892 "Wallet Home Screen Adjustments"
**I have now modified the issue to update what has been done and included in 2.2.0 release below**

1. The ARK logo takes you to the home screen, but for the dummies who won't realize this I recommend having a house icon in the main nav that also takes you to home screen as well. https://gyazo.com/bd4f9be0ba9fb06d349f96dcfaadc2de

2. Contacts icon has + sign implying the button adds a contact. Rem

[2018-12-30 00:36] doubled1c3 commented on #891
I think scrolling is the better choice, provided a scroll bar is always visible so people know it can be scrolled. Cheers! @JeremiGendron

[2018-12-30 00:55] JeremiGendron commented on #891
lots of these implemented in #893

[2018-12-30 00:57] doubled1c3 opened #894 "Introduce Local Caching of Transaction Lists"
**Problem**

It seems like whenever I access a wallet to see it inside the wallet, the triple pulsing blue dots happen. Then when I go to a different screen and go back to the wallet in question, the dots immediately happen again. Are we calling transactions from peers every time we look at a transaction list? This is best case an annoyance as sometimes I have to wait 3-30 seconds every time I cli

[2018-12-30 01:12] doubled1c3 opened #895 "Globalize "Display number of rows" and Introduce Memory"
**Problem**

Whenever viewing a transaction list for a specific wallet address, there is a "Display number of rows" item with a dropdown (default is 10 rows)

This functionality is not shared when moving from wallet A to wallet B, it just goes back to 10.

This functionality is not remembered on next launch.

**Solution**

First, remove the feature from the wallet screen and move it to the Gear me

[2018-12-30 01:17] doubled1c3 commented on #803
Recommending upgrading priority of this beyond "nice to have." A text box for autocompleting a delegate name for voting keeps playing field fair... if a new delegate appears and people want to vote for them but they have zero votes, the pagination is nearly endless to locate that delegate, placing an undue inconvenience on voting for a new delegate vs an incumbent forger... @j-a-m-l

[2018-12-30 01:19] JeremiGendron commented on #892
`The refresh button, what does it do? Re-ping the current peer? Refresh the list of available peers? Add a tooltip that explains what it does and why grandma might need to press it.`

What should it say? Currently I have it at `Connect to best`. @doubled1c3

[2018-12-30 01:20] JeremiGendron commented on #892
A few touchups to the network menu
![image](https://user-images.githubusercontent.com/23587429/50543458-26ce2980-0ba7-11e9-923b-ff4cff9a74a7.png)

[2018-12-30 01:34] JeremiGendron commented on #892
it is now too big?
![image](https://user-images.githubusercontent.com/23587429/50543537-11f29580-0ba9-11e9-8e26-2578901ca768.png)

[2018-12-30 01:40] doubled1c3 commented on #892
Connect to best is perfect

Few touchups are all perfect

the "too big" svg size is the perfect size

cheers! @JeremiGendron

[2018-12-30 01:41] dated commented on #892
Please ask Oleg to provide a contacts icon without the plus sign.

[2018-12-30 01:41] JeremiGendron commented on #892
@dated reverting changes

[2018-12-30 01:52] JeremiGendron commented on #892
![image](https://user-images.githubusercontent.com/23587429/50543632-b1b12300-0bab-11e9-8503-81c505e7d314.png)

[2018-12-30 02:03] JeremiGendron commented on #892
I haven't touched 1, 2, 3, 4, 5, 8, 12, 19

[2018-12-30 02:05] JeremiGendron commented on #891
Haven't touched 1, 2, 3, 4, 5, 6, 19

[2018-12-30 10:12] #871 closed

[2018-12-30 11:19] zillionn commented on #894
I fully agree with you. What's the point of downloading all txs over and over again, they can't change, it's a BLOCKCHAIN! 🤣

IMO you should pull only the newest txs, using the timestamp of the latest cached:
http://95.179.134.209:4003/api/v2/wallets/DFWTC6qyGgWPFp3NvWtmtvZV1mKF9ASVMk/transactions?timestamp.from=123123123

Webhooks are turned off on most peers.

[2018-12-30 11:40] dated commented on #895
I don't necessarily agree with adding that setting to the settings menu, as it's specific to the wallets transaction table only. It should however be remembered, working on that now.

[2018-12-30 11:43] zillionn commented on #895
I guess just remembering it will solve all the issues...

[2018-12-30 18:06] doubled1c3 commented on #892
I'm not too sure who handles what but it seems like some of the remaining tasks are in @dated 's wheelhouse...

[2018-12-30 18:07] doubled1c3 commented on #894
Copy that. Yeah, let's get it implemented to achieve a big leap in user experience!

[2018-12-30 18:38] doubled1c3 opened #899 "My Networks/Manage Networks Page Adjustments"
1. The background image featuring the blue cubes is insufficient resolution for hi-res (4k) displays and shows aliasing.

[2018-12-30 18:49] doubled1c3 commented on #861
I know this issue is closed and while I agree with @zillionn and @dated , the issue with the profiles is the linking of exactly 1 network to 1 profile, forcing multiple profiles to be created for one "person." So today I will be detailing a new github issue regarding profiles <> networks and how they relate and architecture slightly adjusted to please everyone in the community

[2018-12-30 20:09] doubled1c3 opened #900 "Revisit the 1 Profile = 1 Network Architecture"
**Problem**

I have noticed a lot of back-and-forth and friction regarding profiles both on Github and elsewhere. On one side is the pro-profile camp and the other says profiles are unnecessary and just create extra steps. After reviewing all opinions and assessing the feature, I've found a disconnect between the way we define profiles and how they are represented within the ARK Desktop Wallet. Th

[2018-12-30 20:16] doubled1c3 commented on #900
This is an expansion of #797 which can likely be closed if this solution is accepted.

[2018-12-30 21:03] Korben3 opened #901 "Incorrect Delegate Information"
**Platform (please complete the following information):**
 - OS: Windows 10
 - Version Desktop Wallet 2.1.1

**Describe the bug**
Instead of "Vote Power" or maybe more accurate "Voting weight" the delegate details block says "Votes". Which is incorrect since "Votes" refers to the amount of voters or who a delegate has voted for.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Op

[2018-12-30 21:47] doubled1c3 opened #902 "Import Wallet Page Adjustments"
1. Remove the "use the address only" and "use the passphrase only" elements. I can tell there wants to be a 'both' aspect, to verify that the address and passphrase match. But that aspect is not necessary if we modify the passphrase autotext. I'll explain further soon. Also a switch is not the best choice as graphical element. Should be a button that stays lit.

See below graphic I mocked up for t

[2018-12-30 21:55] doubled1c3 commented on #901
1 ARK = 1 Vote, so saying biz_classic has 2,572,358.31 is correct. So it should remain. However, an additional line under Votes should put Voters, to provide that additional information. Nice idea

See mockup below:

![image](https://user-images.githubusercontent.com/32085788/50551735-7a3d8780-0c3a-11e9-98f7-8e17b3342431.png)

[2018-12-30 23:23] michaelthecryptoguy opened #906 "no hover on confirm delete"
**Platform (please complete the following information):**
 - OS: Windows 7
 - Version 2.1.1

**Describe the bug**
When you are ready to delete a wallet the action on the right doesn't hoover

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Create Wallet, with passphrase
2. Click on delete wallet
3. Click on right side (marked in red)

**Expected behaviour**
Mouse should show hove

[2018-12-31 01:13] doubled1c3 opened #907 "Wallet Transaction List Page Adjustments"
This pertains to the transaction list page of a single wallet only, and does not pertain to the dashboard "Latest Transactions" that should stay as is.

The transaction list page currently puts relatively equal weight on all data points and lacks some features people are used to when looking at their fiat online bank accounts. The pending Core 2.1 increase of smartbridge length is also a concern.

[2018-12-31 01:31] doubled1c3 opened #908 "Verify Timedate Status & Add 24h/12h Preference"
Verify timedate status. Is the desktop showing timedates in local system time, or always GMT? If always GMT make local system time.

Also let's add a preference in the gear menu for "Use 24h time format" with switch, so if 12h time format is desired, it can be used. I noticed that the explorer shows 12h time format, so desktop wallet should be consistent

[2018-12-31 02:48] michaelthecryptoguy commented on #803
I do agree, although I Know you guys are spending Alot of time breaking and shattering apart v1. Slowing glueing the pieces back together, all for one small piece not to fit right......

[2018-12-31 02:50] michaelthecryptoguy commented on #798
Thank You Dated!

[2018-12-31 02:51] michaelthecryptoguy commented on #808
It's only colors, so he can see other areas better!

[2018-12-31 03:06] michaelthecryptoguy commented on #804
![untitled-4](https://user-images.githubusercontent.com/24502401/50553926-2012e580-0c7f-11e9-895c-dd5f411ed228.jpg)
Click where the red arrow is pointing.

[2018-12-31 03:08] michaelthecryptoguy commented on #799
Got it :+1:    :taco:

[2018-12-31 08:40] zillionn commented on #900
Yes, I believe this is a very big change, will take a lot of time.

Until then, maybe we could just rename `Profiles` to `Networks` and replace that avatars with network logos?

[2018-12-31 08:53] zillionn commented on #907
I like the new view but currently most of the txs have an empty Smartbridge, you should create a preview with no Smartbridge text, it will probably look hollow.

Also why remove the time, since you're already using 2 lines?

[2018-12-31 09:49] ItsANameToo commented on #906
It does show different styling on hover:

Default:

<img width="233" alt="schermafbeelding 2018-12-31 om 10 46 22" src="https://user-images.githubusercontent.com/35610748/50557869-74eb4600-0ce9-11e9-81b4-0ac74b3d8c60.png">

Hover:

<img width="209" alt="schermafbeelding 2018-12-31 om 10 46 27" src="https://user-images.githubusercontent.com/35610748/50557867-74eb4600-0ce9-11e9-8f5d-c67f294545b2.png

[2018-12-31 09:49] #906 closed

[2018-12-31 10:30] ItsANameToo commented on #899
Is that only on the "My Networks" page or is it also when importing a wallet for example?

[2018-12-31 10:49] vmunich commented on #785
That's unrelated to this issue. I'll close this issue as currently, nodes will reject transactions older than 45 minutes, rendering this feature request useless: https://github.com/ArkEcosystem/core/blob/master/packages/core-transaction-pool-mem/lib/defaults.js#L17

[2018-12-31 10:49] #785 closed

[2018-12-31 10:52] #887 closed

[2018-12-31 11:43] alexbarnsley commented on #895
Resolved in #896

[2018-12-31 11:43] #895 closed

[2018-12-31 11:49] alexbarnsley commented on #908
The transaction list date/times are in 24h format in order to save space. Might not seem like much but those 3 characters are worth it when looking at the main dashboard screen.

[2018-12-31 12:52] alexbarnsley commented on #886
This is a Persona issue I guess, they need to change the URI here: https://github.com/PersonaIam/persona-wallet/blob/4ef45ed9784e464fbda966ff1c9059fe3e540dd0/main.js#L264

[2018-12-31 12:52] #886 closed

[2018-12-31 14:07] ItsANameToo commented on #908
There will be a setting in the profile where you can choose `default` (whatever your locale specifies), `12h` and `24h` formats

[2018-12-31 15:09] ItsANameToo commented on #891
@doubled1c3 can you provide screenshots of the 4k screen issues regarding the paragraphs and buttons?

[2018-12-31 15:57] alessiodf commented on #879
OK I can reproduce this bug even without importing an address-only wallet:

1. Add a non-ledger wallet address (can be a new one)
2. Follow a link using the AIP13 schema to pay for anything using Ark e.g. the Arkland raffle (note the Ark Pay demo on devnet does not appear to be affected by this bug)
3. It will, by default, select the non-ledger wallet to send the transaction and prompt for a passp

[2018-12-31 21:42] doubled1c3 commented on #908
Thanks for executing. The mobile wallet is 12h which is really nice, so having 12h option in desktop wallet is good. @alexbarnsley if space is an issue on the dashboard latest transactions, I do recommend the transaction ID column be reworked according to #907 item 1. Because the dashboard latest transaction list is showing from multiple wallets, I do not recommend applying additional changes deta

[2018-12-31 21:42] #908 closed

[2018-12-31 21:58] doubled1c3 commented on #891
@ItsANameToo

Screenshot protection is force enabled on the intro screens, so I took photos with my cellular telephone. Pardon the curve it's a Samsung curve screen.

Here's all of them blended together, the buttons, dots, paragraphs, and graphics are all off:

![image](https://user-images.githubusercontent.com/32085788/50568210-bf79bc00-0d03-11e9-8749-e04055292e3e.png)

Here's page 1:

![image](h

[2018-12-31 22:12] doubled1c3 commented on #907
@zillionn regarding hollow look, I don't see this as a bad thing, should there not be any smartbridge texts. Blankspace is good for the novice mind to see and understand more quickly, non financial info on the left, financial on the right. Also, voluntary delegate payouts almost always contain smartbridge text, so there's that.. but more importantly as time goes on and usage grows, smartbridge usa

[2018-12-31 22:31] doubled1c3 commented on #900
@zillionn Yes, I agree with a fast solution that handle most of the issue. I do recommend instead of renaming to "Networks" rename to "Network Profiles" because there is technically already a thing for Networks. Regarding the avatars, we can easily decouple the concept of person/entity by just changing the avatars to pick from. Later on when the full functionality of profiles are reintroduced, the

[2018-12-31 22:34] doubled1c3 commented on #900
Recommend closing #797 as this issue here details a good short term and long term solution that factors in thoughts from #797 and any further comments regarding profiles can be on here instead.

[2018-12-31 22:35] doubled1c3 commented on #899
It also applies to the import wallet page for example as well. My theory is one image file is being referenced in multiple locations of the wallet and providing a file with sufficient resolution once may repair the issue in multiple locations. @ItsANameToo

[2018-12-31 22:58] doubled1c3 commented on #810
I also would like to see export feature

[2018-12-31 23:03] doubled1c3 commented on #798
@dated in your WIP tabular view, possible to implement actions column with "copy to clipboard" and "delete" icons? Possible to make sure view preference is remembered for next application launch?

[2018-12-31 23:12] doubled1c3 commented on #642
I agree with this feature. Being able to print requires the printer drivers and such to be integrated into the wallet? Is that more difficult compared to creating JPG with warning disclaimer to permanently delete the file after printing?

[2018-12-31 23:16] doubled1c3 commented on #806
@alexbarnsley alternatively, method to determine minimum might be derived by calling the current fee list of forgers and finding minimum, result, minimum fee "right now." Minimum over last 30 days is old data IMO. End result, minimum fee will confirm by 1 delegate within 1 round, provided there aren't 150 transactions with the same fee in the mempool.

[2018-12-31 23:31] doubled1c3 commented on #806
Understood and did not realize. Perhaps the lowest fee from a confirmed transaction from within the last X hours can work? So long as it's less than 30 days as the minimum of last 30 days may never confirm. Although I do remember a discussion about using a floating minimum can cause "creep" such that the floating minimum just eventually gets higher and higher until it's 0.1 ARK. I wish I could rem

[2018-12-31 23:38] dated commented on #798
The chosen layout is remembered and global for wallets and contacts. I'll change the delete column to actions and add a clipboard button, sounds good!

[2018-12-31 23:47] dated commented on #798
The screenshot here is outdated, see the PR for a more recent one ;)

[2018-12-31 23:52] JeremiGendron commented on #891
Add a 2k + break point?

On Mon, Dec 31, 2018, 4:58 PM Justin@ARK <notifications@github.com wrote:

[2019-01-01 00:59] doubled1c3 commented on #891
@JeremiGendron I'm sorry I don't understand

[2019-01-01 01:00] doubled1c3 commented on #798
@dated *Nice!*

[2019-01-01 02:08] JeremiGendron commented on #891
2k resolution break point, I was referencing the text size and button size which are very small @dated

[2019-01-01 04:09] doubled1c3 opened #917 "Transfer/Send Dialog Box Adjustments"
Some adjustments to the modal window for sending a transaction. Also introduces the concept of globalizing Send Transaction so it can exist in main navigation for easy fast sending from any source.

First here's the current send transaction view:

![image](https://user-images.githubusercontent.com/32085788/50570139-f5ce3000-0d31-11e9-819f-73a85fc7a85c.png)

And here is the view with the proposed c

[2019-01-01 11:09] zillionn commented on #907
Comparing with bank account makes sense to me, but still Ark could have a lot more txs in one day than your bank account, I guess... However, I read some complaints on Slack that the time is not shown.

Btw I have a kind of similar PR open (https://github.com/ArkEcosystem/desktop-wallet/pull/816) but it's not accepted yet, so good luck to you too 🤣.

[2019-01-01 11:38] zillionn commented on #917
Maybe rename `Choose Best` to `Choose best (average)`.

I don't like `Source/Destination`. `Sender/Recipient` sounds better to me.

I'd also like to see the total amount of the `Sender`. Why not even the `Recipient`? There is nowhere showing me that info in the popup. Maybe a small text bellow the field when you choose/paste an address.

[2019-01-01 21:52] olejegcord commented on #808
Do not worry, in the near future the whole color range in dark shades will be tuned and brought to perfection. Thanks for the comments.

[2019-01-02 11:57] JeremiGendron commented on #894
@zillionn what's the correct API call for timestamp from? The above doesn't work.

[2019-01-02 12:49] zillionn commented on #894
I'm afraid it's not possible yet. Right @faustbrian ?

[2019-01-02 13:08] faustbrian commented on #894
https://github.com/ArkEcosystem/core/blob/master/packages/core-api/lib/versions/2/schema/transactions.js#L122-L129

[2019-01-02 13:15] zillionn commented on #894
I saw the schema, but does it really work? I don't see anywhere the code where it actually searches by timestamp.

[2019-01-02 13:19] dated commented on #894
Timestamp is supported by the `search` endpoint only.

[2019-01-02 13:21] faustbrian commented on #894
https://github.com/ArkEcosystem/core/blob/master/packages/core-api/lib/repositories/transactions.js#L315
https://github.com/ArkEcosystem/core/blob/master/packages/core-api/lib/repositories/utils/filter-query.js#L24

[2019-01-02 13:21] zillionn commented on #894
I saw it now:
https://github.com/ArkEcosystem/core/blob/e652300fc471e8a088642402867bcb6634ab69d6/packages/core-api/lib/repositories/transactions.js#L293

[2019-01-02 13:54] JeremiGendron commented on #894
[code]

works good!

[2019-01-02 14:14] zillionn commented on #894
Am I doing something wrong?

`curl 'https://dexplorer.ark.io/api/transactions/search?limit=3' -H 'api-version: 2' -H "Content-Type: application/json" -d '{ "senderId": "DNrspE9CF1ZoJDXLhtowVVDJhhsSDjm395" }'`
[code]

`curl 'https://dexplorer.ark.io/api/transactions/search' -H 'api-version: 2' -H "Content-Type: application/json" -d '{ "senderId": "DNrspE9CF1ZoJDXLhtowVVDJhhsSDjm395", "timestamp": {

[2019-01-02 14:30] JeremiGendron commented on #894
timestamp is supposed to be based off of epoch (2017-03-xx?) and devnet goes only to october 24th this year @zillionn

[2019-01-02 22:38] zillionn commented on #894
Oh I see, I have to use the `epoch` not the `unix` timestamp.

[2019-01-02 22:58] doubled1c3 commented on #917
@zillionn

A. For space reasons, we can leave Choose Best and modify the tooltip to include the word average:

"Optimize fee based on cost and network activity."

becomes

"Use average fee based on network activity."

B. I'm 100% cool with Sender/Recipient. I just noticed that on the explorer too so it would be consistent to have sender/recipient.

C. Total amount of sender in each dropdown list i

[2019-01-02 23:00] doubled1c3 commented on #907
A compromise can be do have time shown underneath date per row, but I still believe a tooltip showing time is sufficient for any naysayers. You are welcome to combine the best parts of what I'm describing here, with what you're doing with the view, and go from there :)

[2019-01-02 23:00] doubled1c3 commented on #907
@zillionn See above

[2019-01-03 23:30] vmunich opened #923 "Sent transaction is shown as received instead of sent until wallet is refreshed"
**Describe the bug**

When I send a transaction, and it confirms, it's shown on the transactions list as a received transaction (in green), until I refresh the transactions list.

**Screenshots**
Easier to explain with a GIF:

![](https://i.gyazo.com/75c1e8695c85c92f3f8d46c255ce8043.gif)

**Environment**
- OS: OSX 10.14
- Ark Desktop Wallet 2.1.1

[2019-01-03 23:30] vmunich commented on #923
https://github.com/ArkEcosystem/explorer/issues/537

[2019-01-04 07:56] dated commented on #923
I started working on this, the problem is that the helper fields such as `isSender` are not applied to transactions fetched from the store.

[2019-01-04 11:36] vmunich opened #925 "Ledger wallets won't update their balances, blocking sending funds"
**Platform (please complete the following information):**
 - OS: OS X 14.0
- Version: 2.1.1

**Describe the bug**
My ledger wallets have the same balance for days on the wallet, even though their balance has changed. I have tried disabling and re-enabling ledger caching, refreshing transactions, changing peers. Balances won't update:

![](https://i.gyazo.com/9a3308909c8862f9867a902ec5dfb8f2.png)

[2019-01-04 11:53] vmunich commented on #925
Disabling `Cache ledger wallets?` and restarting the wallet temporarily fixed the issue.

[2019-01-04 13:28] dated opened #928 "Display transactions as "sent to yourself""
**Is your feature request related to a problem? Please describe.**
When sending a transaction from address A to address B, both owned by the user, the dashboard displays such transactions as either incoming or outgoing, when in fact they are both (from the dashboards perspective that is).

**Describe the solution you'd like**
The dashboard should show such transactions with a another, third icon.

[2019-01-04 14:22] alexbarnsley commented on #925
should be resolved with #926

[2019-01-04 14:22] #925 closed

[2019-01-04 14:50] #879 closed

[2019-01-04 17:34] Ogre-in-Barrow opened #931 "Network Peer when set is only temporary"
**Platform (please complete the following information):**
 - OS: Windows 7
 - Wallet Version: Desktop 2.1.1

**Describe the bug**
When I set my network peer as directed by my delegate to facilitate capture of transaction fees the setting will "take" temporarily but will roll to an IP address within a few minutes.  I'm attempting to set to "http://refunds.classicdelegate.biz" and port 4003.

Additi

[2019-01-04 17:58] faustbrian opened #932 "Setup initial E2E tests"
From monday going forward tests will be enforced on all PRs in all repositories which is an issue in this repository as E2E tests are not fully set up yet to allow people to quickly add new tests.

[2019-01-06 03:11] JeremiGendron opened #938 "Custom peer refresh button unintuitive"
**Describe the bug**
When connected to a custom peer, it isn't evident that the refresh button will disconnect from the peer and fetch the best one.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Go to 'Network'
2. Click on 'Connect custom peer'
3. Enter peer details and connect
4. See no change in refresh button

**Expected behaviour**
Visual queue of what's going on should be

[2019-01-06 12:22] zillionn opened #940 "Ledger white screen with old firmware"
**Platform (please complete the following information):**
 - OS: Windows 7
 - Version: Ark.Desktop.Wallet-x64-2.1.1

**Describe the bug**
I've tried to switch votes on my friend's old and slow laptop and when connecting the Ledger and choose `Ark` app, `v2.1.1` shows a white screen and the app is unresponsive. Using `v1.6.1` the Ledger is working and loading the wallets, but when I try to unvote i

[2019-01-07 15:46] JeremiGendron opened #944 "The WalletNew refresh action makes the page shake"
**Describe the bug**
Because the wallets get deleted from `this.wallets`, there's no rendering of the width and depth-adding elements which are normally there; this causes the right side of the page to jerk up and down abruptly.

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Go to 'Create new wallet'
2. Click on 'The refresh button'
4. See page shake

[code]

**Expected behavio

[2019-01-07 15:46] j-a-m-l commented on #803
@doubled1c3 Yes, since the number of delegates is going to grow over time, this would become more necessary over time.

I'd suggest to accomplish it some kind of filtering on the whole table, instead of autocomplete (which would be a good feature too), because that characteristic allow users to search / locate delegates even when they are not interesting on voting them.

[2019-01-07 15:49] j-a-m-l commented on #804
So you want a page that list latest transactions of all wallets or adding pagination to the dashboard?

[2019-01-07 16:11] zillionn commented on #803
Maybe just make the username textfield and filter on key up:

<img width="989" alt="screenshot 2019-01-07 at 18 10 04" src="https://user-images.githubusercontent.com/3462869/50778810-88794c80-12a7-11e9-8068-b7528a8c0504.png">

[2019-01-07 19:09] #938 closed

[2019-01-08 01:00] michaelthecryptoguy commented on #804
Can we get an opinion from others within the community?

[2019-01-08 01:41] zaderak opened #946 "Failed to decrypt passphrase while trying to vote for a delegate"
**Platform (Desktop Wallet on Yosemite Imac mid 2007):**
 - OS: [OS X 10.10.5]
 - Version (Desktop Wallet v2.1.1)

**Describe the bug** I don't know if it's a bug,but I've search everywhere for an answer and I don't see anyone else posting about this

**How to reproduce the bug**
Steps to reproduce the behaviour:
1. Go to 'once in Wallet Button in Desktop...'
2. Click on 'Delegates'
3. Choose Dele

[2019-01-08 06:58] dated commented on #804
I think that is a feature more suited for the explorer than the wallet, which has been partly discussed with Brian already. I'll go into more detail in a separate feature request (announcement).

[2019-01-08 08:19] zillionn commented on #946
You're asked for your `encrypted password` not for your `passphrase`. When you were creating your account, you've set an encrypted password for faster signing of the transactions.